workflows/rashadbarnett_cloud_rashad_ /AutoMagicly - Chat Workflow.json
{
  "id": "Ndxnf18G7HEBnPrL",
  "name": "AutoMagicly - Chat Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        272,
        288
      ],
      "webhookId": "automagicly-chat",
      "credentials": {
        "httpHeaderAuth": {
          "id": "4p35NhehjSnmQLI0",
          "name": "AutoMagicly Chat API Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.body.message }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "condition-2",
              "leftValue": "={{ $json.body.sessionId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "condition-3",
              "leftValue": "={{ $json.body.message?.length || 0 }}",
              "rightValue": 5000,
              "operator": {
                "type": "number",
                "operation": "smallerEqual",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "name": "Validate Input",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        496,
        288
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"error\": \"Invalid request. Please provide 'message' (max 5000 chars) and 'sessionId'.\", \"timestamp\": $now.toISO() } }}",
        "options": {
          "responseCode": 400
        }
      },
      "name": "Return Validation Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        720,
        384
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1ad9qLANJx33eLcRBQ5g0gWYvP4uyWHFBiLQ--SBK3vA"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=1952403685"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "sessionId",
              "lookupValue": "={{ $json.body.sessionId }}"
            }
          ]
        },
        "options": {
          "returnAllMatches": false
        }
      },
      "name": "Check Rate Limit",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        720,
        192
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "u4p2ZVWImQhY9Hnt",
          "name": "Rashad Google Sheets account"
        }
      },
      "continueOnFail": true,
      "notes": "Looks up session in rate limit sheet"
    },
    {
      "parameters": {
        "jsCode": "// Rate limiting logic: 10 requests per minute per session\nconst rateLimitData = $input.first().json;\nconst sessionId = $('Webhook').first().json.body.sessionId\n  // $('Webhook').item.json.body.sessionId;\n\nconst now = new Date();\nconst oneMinuteAgo = new Date(now.getTime() - 60000);\n\nlet requestCount = 0;\nlet lastRequestTime = null;\n\nif (rateLimitData && rateLimitData.lastRequestTime) {\n  lastRequestTime = new Date(rateLimitData.lastRequestTime);\n  requestCount = parseInt(rateLimitData.requestCount || 0);\n  \n  // Reset count if last request was more than 1 minute ago\n  if (lastRequestTime < oneMinuteAgo) {\n    requestCount = 0;\n  }\n}\n\n// Increment request count\nrequestCount++;\n\nconst isRateLimited = requestCount > 10;\n\nreturn {\n  json: {\n    sessionId,\n    requestCount,\n    lastRequestTime: now.toISOString(),\n    isRateLimited,\n    rateLimitRemaining: Math.max(0, 10 - requestCount)\n  }\n};"
      },
      "name": "Calculate Rate Limit",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        192
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "not-rate-limited",
              "leftValue": "={{ $json.isRateLimited }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "name": "Is Rate Limited?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1168,
        192
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"error\": \"Rate limit exceeded. Maximum 10 requests per minute per session.\", \"rateLimitRemaining\": 0, \"retryAfter\": 60, \"timestamp\": $now.toISO() } }}",
        "options": {
          "responseCode": 429
        }
      },
      "name": "Return Rate Limited",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1392,
        288
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1ad9qLANJx33eLcRBQ5g0gWYvP4uyWHFBiLQ--SBK3vA"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=1952403685"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "sessionId": "={{ $json.sessionId }}",
            "requestCount": "={{ $json.requestCount }}",
            "lastRequestTime": "={{ $json.lastRequestTime }}"
          }
        },
        "options": {}
      },
      "name": "Update Rate Limit",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1392,
        96
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "u4p2ZVWImQhY9Hnt",
          "name": "Rashad Google Sheets account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ { \"chatInput\": $('Webhook').item.json.body.message, \"sessionId\": $('Webhook').item.json.body.sessionId, \"userEmail\": $('Webhook').item.json.body.userEmail || 'anonymous', \"requestTimestamp\": $now.toISO() } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1616,
        96
      ],
      "name": "Format Input"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1ad9qLANJx33eLcRBQ5g0gWYvP4uyWHFBiLQ--SBK3vA"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $json.requestTimestamp }}",
            "sessionId": "={{ $json.sessionId }}",
            "message": "={{ $json.chatInput }}",
            "userEmail": "={{ $json.userEmail }}",
            "status": "received"
          }
        },
        "options": {}
      },
      "name": "Log Input",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1968,
        -64
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "u4p2ZVWImQhY9Hnt",
          "name": "Rashad Google Sheets account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=You are AutoMagicly's helpful customer support assistant.\n\n## Your Role:\n- Answer questions about AutoMagicly's AI-powered business automation services\n- Be friendly, professional, and concise\n- Use the FAQ knowledge base tool when available to provide accurate information\n- If you don't have specific information, politely say so and offer to connect them with support\n- Guide customers toward booking consultations when appropriate\n\n## About AutoMagicly:\nAutoMagicly provides AI-powered business automation services including:\n- Workflow automation\n- AI integration and consulting\n- Custom automation solutions\n- Business process optimization\n\nAlways be helpful and customer-focused!\n\nCurrent time is {{ $now.format('ff') }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1904,
        240
      ],
      "name": "AI Agent",
      "continueOnFail": true
    },
    {
      "parameters": {
        "options": {
          "maxTokens": 500,
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1840,
        464
      ],
      "name": "OpenAI Model",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "credentials": {
        "openAiApi": {
          "id": "51hIFZmWsjzQuJAg",
          "name": "Rashad's OpenAi Account"
        }
      }
    },
    {
      "parameters": {
        "sessionKey": "={{ $('Format Input').item.json.sessionId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1,
      "position": [
        1968,
        464
      ],
      "name": "Chat Memory"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1s_Cje_i6-bMqTHtEd0enCZCSwLe1URjl6R_Sw_nBM3I"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4,
      "position": [
        2096,
        464
      ],
      "name": "FAQ Knowledge Base",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "u4p2ZVWImQhY9Hnt",
          "name": "Rashad Google Sheets account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-success",
              "leftValue": "={{ $json.output }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "name": "Check AI Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2304,
        240
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1ad9qLANJx33eLcRBQ5g0gWYvP4uyWHFBiLQ--SBK3vA"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $now.toISO() }}",
            "sessionId": "={{ $('Format Input').item.json.sessionId }}",
            "message": "={{ $('Format Input').item.json.chatInput }}",
            "userEmail": "={{ $('Format Input').item.json.userEmail }}",
            "response": "={{ $json.output }}",
            "status": "success",
            "responseTime": "={{ $now.diff($('Format Input').item.json.requestTimestamp, 'seconds') }}s"
          }
        },
        "options": {}
      },
      "name": "Log Success",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2528,
        144
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "u4p2ZVWImQhY9Hnt",
          "name": "Rashad Google Sheets account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"reply\": $('AI Agent').item.json.output, \"sessionId\": $('Format Input').item.json.sessionId, \"timestamp\": $now.toISO() } }}",
        "options": {}
      },
      "name": "Return Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2752,
        144
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1ad9qLANJx33eLcRBQ5g0gWYvP4uyWHFBiLQ--SBK3vA"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $now.toISO() }}",
            "sessionId": "={{ $('Format Input').item.json.sessionId }}",
            "message": "={{ $('Format Input').item.json.chatInput }}",
            "userEmail": "={{ $('Format Input').item.json.userEmail }}",
            "error": "={{ $('AI Agent').item.json.error || 'AI Agent failed' }}",
            "status": "error"
          }
        },
        "options": {}
      },
      "name": "Log Error",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2528,
        336
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "u4p2ZVWImQhY9Hnt",
          "name": "Rashad Google Sheets account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "resource": "message",
        "subject": "=🚨 AutoMagicly Chat Error - {{ $('Format Input').item.json.sessionId }}",
        "includeHtml": true,
        "htmlMessage": "=<h2>Chat Workflow Error Alert</h2>\n\n<p><strong>Time:</strong> {{ $now.format('fff') }}</p>\n<p><strong>Session ID:</strong> {{ $('Format Input').item.json.sessionId }}</p>\n<p><strong>User Email:</strong> {{ $('Format Input').item.json.userEmail }}</p>\n\n<h3>User Message:</h3>\n<pre>{{ $('Format Input').item.json.chatInput }}</pre>\n\n<h3>Error Details:</h3>\n<pre>{{ $('AI Agent').item.json.error || 'AI Agent failed to generate response' }}</pre>\n\n<hr>\n\n<p><strong>Action Required:</strong> Check n8n workflow execution logs</p>\n<p><strong>Workflow:</strong> AutoMagicly - Chat Workflow</p>\n<p><strong>Execution ID:</strong> {{ $execution.id }}</p>\n\n<p>View logs: <a href=\"https://rashadbarnett.app.n8n.cloud/workflow/Ndxnf18G7HEBnPrL\">Open Workflow</a></p>",
        "message": "Chat Workflow Error Alert",
        "toList": [
          "rashad.barnett@gmail.com"
        ],
        "additionalFields": {}
      },
      "name": "Send Error Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        2752,
        336
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "BTKh5C4ujrbOxvPI",
          "name": "Rashad.barnett@gmail.com"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"reply\": \"I apologize, but I'm experiencing technical difficulties right now. Please try again in a moment, or contact support at support@automagicly.com for immediate assistance.\", \"sessionId\": $('Format Input').item.json.sessionId, \"timestamp\": $now.toISO(), \"error\": true } }}",
        "options": {}
      },
      "name": "Return Fallback",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2976,
        336
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Check Rate Limit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Validation Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Rate Limit": {
      "main": [
        [
          {
            "node": "Calculate Rate Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Rate Limit": {
      "main": [
        [
          {
            "node": "Is Rate Limited?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Rate Limited?": {
      "main": [
        [
          {
            "node": "Update Rate Limit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Rate Limited",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Rate Limit": {
      "main": [
        [
          {
            "node": "Format Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Input": {
      "main": [
        [
          {
            "node": "Log Input",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Check AI Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check AI Success": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Success": {
      "main": [
        [
          {
            "node": "Return Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Error": {
      "main": [
        [
          {
            "node": "Send Error Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Error Email": {
      "main": [
        [
          {
            "node": "Return Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "FAQ Knowledge Base": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "tags": [],
  "active": true
}