workflows/rashadbarnett_cloud_rashad_ /AutoMagicly - Review Generator.json
{
  "id": "Z2v97fyXLSbr51pK",
  "name": "AutoMagicly - Review Generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "review-generator",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -512,
        -160
      ],
      "name": "Webhook",
      "webhookId": "7afeb5de-86be-445a-80a4-0440b9b3e492"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"review\": \"{{ $json.output.review }}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        288,
        -160
      ],
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -288,
        -160
      ],
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "=define",
        "text": "=Generate a customer review with the following details:\n\nRATING: {{$json.rating}}/5 stars\n\nTONE: {{$json.tone}}\n\nCUSTOMER ANSWERS:\n{{$json.answers.map((qa, i) => `Q: ${qa.question}\\nA: ${qa.answer || 'Not provided'}`).join('\\n\\n')}}\n\nWrite a review that:\n- Matches the {{$json.rating}}-star rating sentiment\n- Uses a {{$json.tone}} tone\n- Incorporates insights from the answers WITHOUT revealing PII\n- Is maximum 250 characters\n- Tells a natural before/during/after story\n\nReturn only the review text.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an expert at writing authentic, human-sounding customer reviews. Your task is to create a review based on the customer's rating, preferred tone, and their answers to questions about their experience.\n\nCRITICAL RULES:\n1. Write in FIRST PERSON (\"We\", \"I\", \"Our\")\n2. Match the sentiment to the star rating (5 stars = very positive, 1 star = critical)\n3. Use the specified tone (professional, enthusiastic, or casual)\n4. MAXIMUM LENGTH: 250 characters (strict limit)\n5. NEVER include PII: no names, company names, emails, phone numbers, or identifying details\n6. NO profanity or inappropriate language\n7. Sound like a real person, not AI\n8. Tell a story: problem → solution → results\n9. Be specific but concise\n10. Return ONLY the review text - no quotes, no extra formatting\n\nTONE GUIDELINES:\n- Professional: Clear, articulate, business-focused\n- Enthusiastic: Energetic, excited, highly positive\n- Casual: Conversational, friendly, relaxed\n\nRATING SENTIMENT:\n- 5 stars: Exceptional, exceeded expectations, glowing praise\n- 4 stars: Very good, positive with realistic nuance\n- 3 stars: Satisfactory, balanced, met basic expectations\n- 2 stars: Disappointing, constructive criticism\n- 1 star: Poor experience, significant issues"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -64,
        -160
      ],
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"review\": \"California\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        128,
        32
      ],
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -112,
        32
      ],
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "51hIFZmWsjzQuJAg",
          "name": "Rashad's OpenAi Account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "tags": [],
  "active": true
}