workflows/rashadbarnett_cloud_rashad_ /AutoMagicly - Referrals Workflow.json
{
  "id": "WNASYOYNvb4ACp9t",
  "name": "AutoMagicly - Referrals Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "referrals",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook - Referrals",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -768,
        32
      ],
      "webhookId": "automagicly-referrals"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "11JXrCSmDGuppB6om9ArC1V1IEVqm7C3Mn4BYu65POOk",
          "mode": "list",
          "cachedResultName": "Refferal Spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11JXrCSmDGuppB6om9ArC1V1IEVqm7C3Mn4BYu65POOk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11JXrCSmDGuppB6om9ArC1V1IEVqm7C3Mn4BYu65POOk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "yourName": "={{ $json.yourName }}",
            "yourEmail": "={{ $json.yourEmail }}",
            "referralName": "={{ $json.referralName }}",
            "referralCompany": "={{ $json.referralCompany }}",
            "referralEmail": "={{ $json.referralContact }}",
            "whyRefer": "={{ $json.helpNeeded }}",
            "source": "={{ $json.source }}",
            "submitted Date": "={{ $json.submittedAt.toDateTime().format('FFF') }}"
          },
          "matchingColumns": [
            "referralEmail"
          ],
          "schema": [
            {
              "id": "yourName",
              "displayName": "yourName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "yourEmail",
              "displayName": "yourEmail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "referralName",
              "displayName": "referralName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "referralCompany",
              "displayName": "referralCompany",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "referralEmail",
              "displayName": "referralEmail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "whyRefer",
              "displayName": "whyRefer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "submitted Date",
              "displayName": "submitted Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "name": "Google Sheets - Save Referral",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -320,
        32
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "u4p2ZVWImQhY9Hnt",
          "name": "Rashad Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "subject": "Thank You for Your Referral! 🎁",
        "includeHtml": true,
        "htmlMessage": "=<h2>Hi {{ $json.yourName }},</h2>\n\n<p>Thank you so much for referring {{ $json.referralName }} from {{ $json.referralCompany }} to AutoMagicly! 🎉</p>\n\n<div style=\"background: #f0f9ff; padding: 20px; border-radius: 10px; margin: 20px 0;\">\n  <h3>What Happens Next?</h3>\n  <ol>\n    <li>We'll reach out to {{ $json.referralName }} within 24 hours</li>\n    <li>If they book a consultation, you'll receive a $100 Amazon gift card</li>\n    <li>If they become a client, you'll get an additional $500 bonus!</li>\n  </ol>\n</div>\n\n<h3>Your Referral Details:</h3>\n<ul>\n  <li><strong>Name:</strong> {{ $json.referralName }}</li>\n  <li><strong>Company:</strong> {{ $json.referralCompany }}</li>\n  <li><strong>Email:</strong> {{ $json.referralEmail }}</li>\n</ul>\n\n<p>We'll keep you updated on the progress of your referral.</p>\n\n<p><strong>Know more businesses that could benefit from automation?</strong><br>\nSend more referrals at: https://automagicly.com#referrals</p>\n\n<p>Thanks again for spreading the word!<br>\nThe AutoMagicly Team</p>",
        "message": "=",
        "toList": [
          "={{ $json.yourEmail }}"
        ],
        "additionalFields": {}
      },
      "name": "Gmail - Thank Referrer",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        -96,
        -64
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "BTKh5C4ujrbOxvPI",
          "name": "Rashad.barnett@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "subject": "={{ $json.yourName }} thought you'd be interested in AutoMagicly",
        "includeHtml": true,
        "htmlMessage": "=<h2>Hi {{ $json.referralName }},</h2>\n\n<p>{{ $json.yourName }} recently referred you to AutoMagicly.</p>\n\n<p>{{ $json.yourName }} mentioned: <em>\"{{ $json.whyRefer }}\"</em></p>\n\n<div style=\"background: #f0f9ff; padding: 20px; border-radius: 10px; margin: 20px 0;\">\n  <h3>What We Do</h3>\n  <p>We help businesses save 10-20 hours per week by automating repetitive tasks like:</p>\n  <ul>\n    <li>Email management and routing</li>\n    <li>Data entry and reporting</li>\n    <li>CRM updates and follow-ups</li>\n    <li>Document processing</li>\n    <li>Scheduling and coordination</li>\n  </ul>\n</div>\n\n<h3>Let's Chat!</h3>\n<p>We'd love to offer you a <strong>free 15-minute AI audit</strong> to identify where automation could save {{ $json.referralCompany }} the most time.</p>\n\n<p>\n  <a href=\"https://automagicly.com#booking\" style=\"display: inline-block; background: #0ea5e9; color: white; padding: 12px 24px; border-radius: 8px; text-decoration: none; margin: 10px 0;\">Schedule Your Free Audit</a>\n</p>\n\n<p>No pressure - just a friendly conversation about your workflows and how automation might help.</p>\n\n<p>Looking forward to connecting!<br>\nThe AutoMagicly Team</p>\n\n<p style=\"font-size: 12px; color: #666; margin-top: 30px;\">P.S. - You can also check out our website at https://automagicly.com to learn more.</p>",
        "message": "=",
        "toList": [
          "={{ $json.referralEmail }}"
        ],
        "additionalFields": {}
      },
      "name": "Gmail - Introduce to Referral",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        -96,
        128
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "BTKh5C4ujrbOxvPI",
          "name": "Rashad.barnett@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"message\": \"Thank you for your referral! We've sent an introduction to {{ $('Google Sheets - Save Referral').item.json.referralName }}. You'll receive $100 if they book a consultation and $500 if they become a client!\"\n}",
        "options": {}
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        128,
        128
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -544,
        32
      ],
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "Webhook - Referrals": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Save Referral": {
      "main": [
        [
          {
            "node": "Gmail - Thank Referrer",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail - Introduce to Referral",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Introduce to Referral": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Google Sheets - Save Referral",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "tags": [],
  "active": true
}