workflows/rashadbarnett_cloud_rashad_ /AutoMagicly - Reviews Workflow.json
{
  "id": "s2HZ2QiRJPtuQYmA",
  "name": "AutoMagicly - Reviews Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "reviews",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook - Reviews",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -832,
        -240
      ],
      "webhookId": "automagicly-reviews"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.rating }}",
              "operation": "largerEqual",
              "value2": 4
            }
          ]
        }
      },
      "name": "IF - Positive Review?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -160,
        -240
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "subject": "Thank You for Your Review! 🌟",
        "includeHtml": true,
        "htmlMessage": "=<h2>Hi {{ $json.Name }},</h2>\n\n<p>Thank you so much for your amazing {{ $json.rating }}-star review! ⭐</p>\n\n<p>We're thrilled that our automation solutions are helping {{ $json.company }} save time and work more efficiently.</p>\n\n<div style=\"background: #f0f9ff; padding: 20px; border-radius: 10px; margin: 20px 0;\">\n  <h3>Share Your Success Story</h3>\n  <p>Would you mind sharing your experience on Google or LinkedIn? Your story could help other businesses discover the power of automation!</p>\n  <p>\n    <a href=\"https://g.page/r/YOUR_GOOGLE_BUSINESS_LINK/review\" style=\"display: inline-block; background: #0ea5e9; color: white; padding: 12px 24px; border-radius: 8px; text-decoration: none; margin: 5px;\">Review on Google</a>\n  </p>\n</div>\n\n<p>As a token of our appreciation, we'd love to feature your testimonial on our website (with your permission, of course).</p>\n\n<p>If you know anyone else who could benefit from automation, we'd be grateful for any referrals. You can use our referral program at: https://automagicly.com#referrals</p>\n\n<p>Thanks again!<br>\nThe AutoMagicly Team</p>",
        "message": "=",
        "toList": [
          "={{ $json.email }}"
        ],
        "additionalFields": {
          "senderName": "Automagicly"
        }
      },
      "name": "Gmail - Thank You Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        64,
        -336
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "BTKh5C4ujrbOxvPI",
          "name": "Rashad.barnett@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "subject": "=⚠️ Low Review Alert: {{ $json.rating }} stars from {{ $json.Name }}",
        "includeHtml": true,
        "htmlMessage": "=<h2>Low Rating Alert</h2>\n\n<p><strong>Rating:</strong> {{ $json.rating }}/5 stars</p>\n<p><strong>From:</strong> {{ $json.Name }} ({{ $json.company }})</p>\n<p><strong>Email:</strong> {{ $json.email }}</p>\n\n<h3>Review:</h3>\n<p>{{ $json.review }}</p>\n\n<hr>\n\n<p><strong>Action Required:</strong> Please follow up with this client to address their concerns.</p>",
        "message": "=",
        "toList": [
          "rashad.barnett@gmail.com"
        ],
        "additionalFields": {
          "senderName": "Automagicly"
        }
      },
      "name": "Gmail - Low Rating Alert",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        64,
        -144
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "BTKh5C4ujrbOxvPI",
          "name": "Rashad.barnett@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Thank you for your review! We appreciate your feedback.\" } }}",
        "options": {}
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        288,
        -240
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3e555211-d580-41c6-8687-67784d334c31",
              "name": "body",
              "value": "={{ $json.body }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -608,
        -240
      ],
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "rashad.barnett@gmail.com",
        "subject": "={{ '⭐'.repeat($('Insert to DynamoDB').item.json.rating) }} New Review from {{ $('Insert to DynamoDB').item.json.name || 'Anonymous' }}",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n</head>\n<body style=\"margin: 0; padding: 0; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial, sans-serif; background-color: #f3f4f6;\">\n  <div style=\"max-width: 600px; margin: 0 auto; padding: 20px;\">\n    <div style=\"background: white; border-radius: 12px; overflow: hidden; box-shadow: 0 4px 6px rgba(0,0,0,0.1);\">\n      \n      <div style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 40px 30px; text-align: center;\">\n        <h1 style=\"margin: 0; font-size: 28px; font-weight: 700;\">✨ New Review Submitted!</h1>\n        <p style=\"margin: 10px 0 0 0; font-size: 14px; opacity: 0.9;\">Review ID: {{ $('Insert to DynamoDB').item.json.id }}</p>\n      </div>\n\n      <div style=\"padding: 30px;\">\n        \n        <div style=\"text-align: center; margin-bottom: 25px;\">\n          <div style=\"color: #fbbf24; font-size: 32px; line-height: 1;\">\n            {{ '★'.repeat($('Insert to DynamoDB').item.json.rating) }}{{ '☆'.repeat(5 - $('Insert to DynamoDB').item.json.rating) }}\n          </div>\n          <p style=\"margin: 8px 0 0 0; color: #6b7280; font-size: 14px;\">{{ $('Insert to DynamoDB').item.json.rating }} out of 5 stars</p>\n        </div>\n\n        <div style=\"background: #f9fafb; padding: 20px; border-radius: 8px; margin-bottom: 20px;\">\n          <table style=\"width: 100%; border-collapse: collapse;\">\n            <tr>\n              <td style=\"padding: 6px 0; color: #6b7280; font-size: 14px; width: 80px;\"><strong>From:</strong></td>\n              <td style=\"padding: 6px 0; color: #111827; font-size: 14px;\">{{ $('Insert to DynamoDB').item.json.name || 'Anonymous' }}</td>\n            </tr>\n            <tr>\n              <td style=\"padding: 6px 0; color: #6b7280; font-size: 14px;\"><strong>Email:</strong></td>\n              <td style=\"padding: 6px 0; color: #111827; font-size: 14px;\">{{ $('Insert to DynamoDB').item.json.email || 'Not provided' }}</td>\n            </tr>\n            <tr>\n              <td style=\"padding: 6px 0; color: #6b7280; font-size: 14px;\"><strong>Company:</strong></td>\n              <td style=\"padding: 6px 0; color: #111827; font-size: 14px;\">{{ $('Insert to DynamoDB').item.json.company || 'Not provided' }}</td>\n            </tr>\n            <tr>\n              <td style=\"padding: 6px 0; color: #6b7280; font-size: 14px;\"><strong>Service:</strong></td>\n              <td style=\"padding: 6px 0; color: #111827; font-size: 14px;\">{{ $('Insert to DynamoDB').item.json.service_type }}</td>\n            </tr>\n          </table>\n        </div>\n\n        <div style=\"background: white; padding: 20px; border-radius: 8px; border-left: 4px solid #3b82f6; margin-bottom: 30px;\">\n          <p style=\"margin: 0; font-size: 16px; line-height: 1.6; color: #374151; font-style: italic;\">\n            \"{{ $('Insert to DynamoDB').item.json.review_text }}\"\n          </p>\n        </div>\n      </div>\n    </div>\n  </div>\n</body>\n</html>",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {
          "limitWaitTime": {
            "values": {
              "resumeAmount": 45,
              "resumeUnit": "days"
            }
          },
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        512,
        -240
      ],
      "name": "Send message and wait for response",
      "webhookId": "9dccf839-63c4-48cc-b690-72687123c0b0",
      "credentials": {
        "gmailOAuth2": {
          "id": "BTKh5C4ujrbOxvPI",
          "name": "Rashad.barnett@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1dXxJWvcWMhUiaR4382RbXnTNlQSHQP8Bl-y752UBrEo",
          "mode": "list",
          "cachedResultName": "Review Spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dXxJWvcWMhUiaR4382RbXnTNlQSHQP8Bl-y752UBrEo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dXxJWvcWMhUiaR4382RbXnTNlQSHQP8Bl-y752UBrEo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.name }}",
            "rating": "={{ $json.rating }}",
            "company": "={{ $json.company }}",
            "email": "={{ $json.email }}",
            "review": "={{ $json.review_text }}",
            "ID": "={{ $json.id }}",
            "Service Type": "={{ $json.service_type }}",
            "Approved for website": "={{ $json.status }}",
            "Created Date": "={{ $json.created_at.toDateTime().format('FFF') }}"
          },
          "matchingColumns": [
            "Name"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "rating",
              "displayName": "rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "review",
              "displayName": "review",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Service Type",
              "displayName": "Service Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Approved for website",
              "displayName": "Approved for website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Created Date",
              "displayName": "Created Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        960,
        -240
      ],
      "name": "Supbase Backup",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "u4p2ZVWImQhY9Hnt",
          "name": "Rashad Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "tableName": "automagicly-reviews",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "id",
              "fieldValue": "={{ 'review-' + $now.toMillis() + '-' + Math.floor(Math.random() * 100000) }}"
            },
            {
              "fieldId": "name",
              "fieldValue": "={{ $json.body.name || 'anonymous' }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $json.body.email || '' }}"
            },
            {
              "fieldId": "company",
              "fieldValue": "={{ $json.body.company || '' }}"
            },
            {
              "fieldId": "rating",
              "fieldValue": "={{ $json.body.rating }}"
            },
            {
              "fieldId": "review_text",
              "fieldValue": "={{ $json.body.reviewText }}"
            },
            {
              "fieldId": "service_type",
              "fieldValue": "={{ $json.body.serviceType }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "pending"
            },
            {
              "fieldId": "featured",
              "fieldValue": "=false"
            },
            {
              "fieldId": "approval_token",
              "fieldValue": "={{ $now.toMillis() + '_' + ($json.body.email || 'anon') + '_' + Math.floor(Math.random() * 10000) }}"
            },
            {
              "fieldId": "token_expires_at",
              "fieldValue": "={{ $now.plus({days: 7}).toMillis() }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $now.toMillis() }}"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ $now.toMillis() }}"
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.awsDynamoDb",
      "typeVersion": 1,
      "position": [
        -384,
        -240
      ],
      "name": "Insert to DynamoDB",
      "credentials": {
        "aws": {
          "id": "vJrvHYreHROi5Lqd",
          "name": "AWS (IAM) account"
        }
      }
    },
    {
      "parameters": {
        "tableName": "automagicly-reviews",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "id",
              "fieldValue": "={{ $('Insert to DynamoDB').item.json.id }}"
            },
            {
              "fieldId": "name",
              "fieldValue": "={{ $('Insert to DynamoDB').item.json.name }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $('Insert to DynamoDB').item.json.email }}"
            },
            {
              "fieldId": "company",
              "fieldValue": "={{ $('Insert to DynamoDB').item.json.company }}"
            },
            {
              "fieldId": "rating",
              "fieldValue": "={{ $('Insert to DynamoDB').item.json.rating }}"
            },
            {
              "fieldId": "review_text",
              "fieldValue": "={{ $('Insert to DynamoDB').item.json.review_text }}"
            },
            {
              "fieldId": "service_type",
              "fieldValue": "={{ $('Insert to DynamoDB').item.json.service_type }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.data.approved ? 'approved' : 'rejected' }}"
            },
            {
              "fieldId": "featured",
              "fieldValue": "={{ $('Insert to DynamoDB').item.json.featured }}"
            },
            {
              "fieldId": "approval_token",
              "fieldValue": "={{ $('Insert to DynamoDB').item.json.approval_token }}"
            },
            {
              "fieldId": "token_expires_at",
              "fieldValue": "={{ $('Insert to DynamoDB').item.json.token_expires_at }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $('Insert to DynamoDB').item.json.created_at }}"
            },
            {
              "fieldId": "approved_at",
              "fieldValue": "={{ $now.toMillis() }}"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ $now.toMillis() }}"
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.awsDynamoDb",
      "typeVersion": 1,
      "position": [
        736,
        -240
      ],
      "name": "Update Review Status in DynamoDB",
      "credentials": {
        "aws": {
          "id": "vJrvHYreHROi5Lqd",
          "name": "AWS (IAM) account"
        }
      }
    }
  ],
  "connections": {
    "Webhook - Reviews": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Positive Review?": {
      "main": [
        [
          {
            "node": "Gmail - Thank You Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail - Low Rating Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Thank You Email": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Low Rating Alert": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Insert to DynamoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response": {
      "main": [
        [
          {
            "node": "Update Review Status in DynamoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supbase Backup": {
      "main": [
        []
      ]
    },
    "Insert to DynamoDB": {
      "main": [
        [
          {
            "node": "IF - Positive Review?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Review Status in DynamoDB": {
      "main": [
        [
          {
            "node": "Supbase Backup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "tags": [],
  "active": true
}