workflows/3h9l7htubUjXkyxh-Coloring_Pages.json
{
  "id": "3h9l7htubUjXkyxh",
  "name": "Coloring Pages",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -16,
        912
      ],
      "id": "d3558fe9-af5f-47ff-8564-479cc47a2af2",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "bucketName": "ai-book-image-storage",
        "fileKey": "={{ $json.Key }}"
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        656,
        912
      ],
      "id": "f2d665ad-f2bb-4e75-aa0f-10490829d723",
      "name": "Download a file",
      "credentials": {
        "s3": {
          "id": "uLl30qp4lBJgjjbM",
          "name": "S3 account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "bucketName": "ai-book-image-storage",
        "returnAll": true,
        "options": {
          "folderKey": "content/originals/CHILDREN/ANGELS/"
        }
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        208,
        912
      ],
      "id": "0a349290-883f-4f98-8844-46674e600e25",
      "name": "Get many files",
      "credentials": {
        "s3": {
          "id": "uLl30qp4lBJgjjbM",
          "name": "S3 account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get all input items\nconst items = $input.all();\n\n// Select a random item\nconst randomIndex = Math.floor(Math.random() * items.length);\nconst randomItem = items[randomIndex];\n\n// Return the random item\nreturn [randomItem];"
      },
      "id": "85de7190-6ebe-4374-ae87-f5e1d0a1f241",
      "name": "Pick Random File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        912
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many files": {
      "main": [
        [
          {
            "node": "Pick Random File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick Random File": {
      "main": [
        [
          {
            "node": "Download a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "createdAt": "2025-12-02T01:26:34.734Z",
  "description": null
}