workflows/5sOnn8NCDpVytjxI-RAG_Workflow_For_Company_Documents_stored_in_Google_Drive.json
{"updatedAt":"2025-11-28T03:44:32.000Z","createdAt":"2025-11-28T03:44:32.390Z","id":"5sOnn8NCDpVytjxI","name":"RAG Workflow For Company Documents stored in Google Drive","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"mode":"list","value":"company-files","cachedResultName":"company-files"},"options":{}},"id":"6588238b-d3e8-443c-a93e-1033f5e0cb00","name":"Pinecone Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","position":[288,416],"typeVersion":1},{"parameters":{},"id":"853c7631-3b27-426c-983e-97f1856a84a5","name":"Embeddings Google Gemini","type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","position":[256,704],"typeVersion":1},{"parameters":{"dataType":"binary","binaryMode":"specificField","options":{}},"id":"4c37e53a-422e-4025-b7e3-08a33839eb7e","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","position":[448,640],"typeVersion":1},{"parameters":{"chunkOverlap":100,"options":{}},"id":"43f607bf-9a2d-40f7-893a-d2d5c2d7a216","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","position":[432,848],"typeVersion":1},{"parameters":{"options":{"systemMessage":"You are a helpful HR assistant designed to answer employee questions based on company policies.

Retrieve relevant information from the provided internal documents and provide a concise, accurate, and informative answer to the employee's question.

Use the tool called \"company_documents_tool\" to retrieve any information from the company's documents.

If the answer cannot be found in the provided documents, respond with \"I cannot find the answer in the available resources.\""}},"id":"ea81860f-123d-45c7-8f6a-c54bd9c8358b","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[32,1264],"typeVersion":1.7},{"parameters":{"name":"company_documents_tool","description":"Retrieve information from any company documents"},"id":"bcad7b1e-0294-4f65-b35c-5223339b0f45","name":"Vector Store Tool","type":"@n8n/n8n-nodes-langchain.toolVectorStore","position":[432,1488],"typeVersion":1},{"parameters":{"pineconeIndex":{"__rl":true,"mode":"list","value":"company-files","cachedResultName":"company-files"},"options":{}},"id":"60f133b6-468e-41fb-9915-15559539c0b9","name":"Pinecone Vector Store (Retrieval)","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","position":[336,1664],"typeVersion":1},{"parameters":{},"id":"a7e9bd17-182c-4b89-b350-e461647dc561","name":"Embeddings Google Gemini (retrieval)","type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","position":[320,1824],"typeVersion":1},{"parameters":{"operation":"download","fileId":{"__rl":true,"mode":"id","value":"={{ $json.id }}"},"options":{"fileName":"={{ $json.name }}"}},"id":"a071d411-73b7-48e4-9c65-69bf8bf21639","name":"Download File From Google Drive","type":"n8n-nodes-base.googleDrive","position":[80,416],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"2EHi0wR7Y6BLTOyu","name":"Google Drive account"}}},{"parameters":{"content":"## Chat with company documents"},"id":"d0eae888-d793-46a8-b830-6fae65f10684","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[32,1088],"typeVersion":1},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"mode":"list","value":"1evDIoHePhjw_LgVFZXSZyK1sZm2GHp9W","cachedResultUrl":"https://drive.google.com/drive/folders/1evDIoHePhjw_LgVFZXSZyK1sZm2GHp9W","cachedResultName":"INNOVI PRO"},"event":"fileUpdated","options":{}},"id":"06a89c77-c2d4-4800-b443-5aee79e8ffe9","name":"Google Drive File Updated","type":"n8n-nodes-base.googleDriveTrigger","position":[-256,560],"typeVersion":1,"credentials":{"googleDriveOAuth2Api":{"id":"2EHi0wR7Y6BLTOyu","name":"Google Drive account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"mode":"list","value":"1evDIoHePhjw_LgVFZXSZyK1sZm2GHp9W","cachedResultUrl":"https://drive.google.com/drive/folders/1evDIoHePhjw_LgVFZXSZyK1sZm2GHp9W","cachedResultName":"INNOVI PRO"},"event":"fileCreated","options":{"fileType":"all"}},"id":"e96da416-8b00-4228-8a2e-dff54b4b689e","name":"Google Drive File Created","type":"n8n-nodes-base.googleDriveTrigger","position":[-256,304],"typeVersion":1,"credentials":{"googleDriveOAuth2Api":{"id":"2EHi0wR7Y6BLTOyu","name":"Google Drive account"}}},{"parameters":{},"id":"74db1674-c16f-43b9-a784-02b0f31b0b1d","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[112,1568],"typeVersion":1.3},{"parameters":{"options":{}},"id":"91be477f-edc3-4cd1-9386-1aa2eb9db790","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","position":[-320,1264],"webhookId":"5f1c0c82-0ff9-40c7-9e2e-b1a96ffe24cd","typeVersion":1.1},{"parameters":{"content":"## Add docuemnts to vector store when updating or creating new documents in Google Drive","width":320},"id":"3304d319-b9ac-4352-a3c6-40ba9a225cca","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[48,176],"typeVersion":1},{"parameters":{"modelName":"models/gemini-2.0-flash-exp","options":{}},"id":"b6a6232a-4c00-47f4-81b0-27c7f21b63e6","name":"Google Gemini Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[-80,1568],"typeVersion":1},{"parameters":{"modelName":"models/gemini-2.0-flash-exp","options":{}},"id":"4a6e8c29-d096-4314-b03b-7640263b4385","name":"Google Gemini Chat Model (retrieval)","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[688,1664],"typeVersion":1},{"parameters":{"content":"## Set up steps

1. Google Cloud Project and Vertex AI API:
* Create a Google Cloud project.
* Enable the Vertex AI API for your project.
2. Google AI API Key:
* Obtain a Google AI API key from Google AI Studio.
3. Pinecone Account:
* Create a free account on the Pinecone website.
Obtain your API key from your Pinecone dashboard.
* Create an index named company-files in your Pinecone project.
4. Google Drive:
* Create a dedicated folder in your Google Drive where company documents will be stored.
5. Credentials in n8n: Configure credentials in your n8n environment for:
* Google Drive OAuth2
* Google Gemini(PaLM) Api (using your Google AI API key)
* Pinecone API (using your Pinecone API key)
5. Import the Workflow:
* Import this workflow into your n8n instance.
6. Configure the Workflow:
* Update both Google Drive Trigger nodes to watch the specific folder you created in your Google Drive.
* Configure the Pinecone Vector Store nodes to use your company-files index.","height":720,"width":420},"id":"437771bf-1a3a-4ca5-8ba8-211ae48b76ff","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-928,640],"typeVersion":1}],"connections":{"Vector Store Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Pinecone Vector Store","type":"ai_document","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Embeddings Google Gemini":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Google Drive File Created":{"main":[[{"node":"Download File From Google Drive","type":"main","index":0}]]},"Google Drive File Updated":{"main":[[{"node":"Download File From Google Drive","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Download File From Google Drive":{"main":[[{"node":"Pinecone Vector Store","type":"main","index":0}]]},"Pinecone Vector Store (Retrieval)":{"ai_vectorStore":[[{"node":"Vector Store Tool","type":"ai_vectorStore","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Embeddings Google Gemini (retrieval)":{"ai_embedding":[[{"node":"Pinecone Vector Store (Retrieval)","type":"ai_embedding","index":0}]]},"Google Gemini Chat Model (retrieval)":{"ai_languageModel":[[{"node":"Vector Store Tool","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"5303551e-9fde-44bd-b2dd-aea3c269f7ea","activeVersionId":null,"versionCounter":2,"triggerCount":0,"shared":[{"updatedAt":"2025-11-28T03:44:32.395Z","createdAt":"2025-11-28T03:44:32.395Z","role":"workflow:owner","workflowId":"5sOnn8NCDpVytjxI","projectId":"2CC780LxenTRdi7P","project":{"updatedAt":"2025-10-08T01:35:29.647Z","createdAt":"2025-10-08T01:35:29.647Z","id":"2CC780LxenTRdi7P","name":"My project","type":"team","icon":{"type":"icon","value":"layers"},"description":null,"projectRelations":[{"updatedAt":"2025-10-08T01:35:29.649Z","createdAt":"2025-10-08T01:35:29.649Z","userId":"d45249eb-7aee-42f5-81af-e4c93a0d7c41","projectId":"2CC780LxenTRdi7P","user":{"updatedAt":"2026-01-06T11:49:29.000Z","createdAt":"2025-10-08T00:25:30.019Z","id":"d45249eb-7aee-42f5-81af-e4c93a0d7c41","email":"rashad.barnett@gmail.com","firstName":"Rashad","lastName":" ","personalizationAnswers":null,"settings":{"userActivated":false,"easyAIWorkflowOnboarded":true,"userClaimedAiCredits":true},"disabled":false,"mfaEnabled":true,"lastActiveAt":"2026-01-06","isPending":false}}]}}],"tags":[],"activeVersion":null}
