workflows/dd9ZEt24TyzeCt0A-Backup_all_workflows_to_GitHub.json
{"updatedAt":"2025-11-28T03:32:26.000Z","createdAt":"2025-11-28T03:32:26.348Z","id":"dd9ZEt24TyzeCt0A","name":"Backup all workflows to GitHub","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"triggerTimes":{"item":[{"mode":"everyHour","minute":59}]}},"id":"45decd23-5cd3-4aaf-9d2b-c8b149eea6d8","name":"Cron","type":"n8n-nodes-base.cron","typeVersion":1,"position":[16,160]},{"parameters":{"authentication":"headerAuth","url":"http://localhost:5678/api/v1/workflows","options":{}},"id":"4685b341-3167-4ad1-80dd-5820f8ff550b","name":"List Workflows","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[256,160],"alwaysOutputData":false},{"parameters":{"functionCode":"const data = items[0].json.data || [];
return data.map(wf => ({ json: wf }));"},"id":"30c638e8-af64-4b5d-b834-db75d1b9d578","name":"Extract Workflows","type":"n8n-nodes-base.function","typeVersion":1,"position":[448,160]},{"parameters":{"batchSize":1,"options":{}},"id":"04f5a697-9a80-43e6-b5da-415dd975f8cf","name":"Split In Batches","type":"n8n-nodes-base.splitInBatches","typeVersion":1,"position":[656,160]},{"parameters":{"authentication":"headerAuth","url":"={{ 'http://localhost:5678/api/v1/workflows/' + $json.id }}","options":{}},"id":"b27e4dd5-c78d-4ffa-861e-f36fda0d3b52","name":"Get Workflow JSON","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[848,160]},{"parameters":{"functionCode":"const wf = items[0].json;
const safeName = (wf.name || 'workflow').split(' ').join('_');
return [
  {
    json: {
      path: 'workflows/' + wf.id + '-' + safeName + '.json',
      content: JSON.stringify(wf, null, 2),
    },
  },
];"},"id":"2b8037fc-27bf-46cf-aa8c-5d38d6e8dd5f","name":"Format JSON File","type":"n8n-nodes-base.function","typeVersion":1,"position":[1056,160]},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"rashadGIT","mode":""},"repository":{"__rl":true,"value":"n8n-workflows","mode":""},"filePath":"={{ $json[\"path\"] }}","fileContent":"={{ $json[\"content\"] }}","commitMessage":"={{ 'n8n backup: ' + $json[\"path\"] }}"},"id":"30372cc4-03b9-4fb1-99a9-b5368433e703","name":"GitHub","type":"n8n-nodes-base.github","typeVersion":1,"position":[1248,160],"webhookId":"78a24463-0a57-4852-9852-47af063ae3e6"},{"parameters":{"conditions":{"boolean":[{"value1":true,"value2":"={{$node[\"Split In Batches\"].context[\"noItemsLeft\"]}}"}]}},"id":"f4ee0a8a-2fad-4f01-a5fc-c6c4c67f2925","name":"Check more","type":"n8n-nodes-base.if","typeVersion":1,"position":[1456,160]}],"connections":{"Cron":{"main":[[{"node":"List Workflows","type":"main","index":0}]]},"List Workflows":{"main":[[{"node":"Extract Workflows","type":"main","index":0}]]},"Extract Workflows":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Split In Batches":{"main":[[{"node":"Get Workflow JSON","type":"main","index":0}]]},"Get Workflow JSON":{"main":[[{"node":"Format JSON File","type":"main","index":0}]]},"Format JSON File":{"main":[[{"node":"GitHub","type":"main","index":0}]]},"GitHub":{"main":[[{"node":"Check more","type":"main","index":0}]]},"Check more":{"main":[[],[{"node":"Split In Batches","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"7259a782-dfa7-4ca0-a85b-6fdbd608482b","activeVersionId":null,"versionCounter":2,"triggerCount":0,"shared":[{"updatedAt":"2025-11-28T03:32:26.352Z","createdAt":"2025-11-28T03:32:26.352Z","role":"workflow:owner","workflowId":"dd9ZEt24TyzeCt0A","projectId":"2CC780LxenTRdi7P","project":{"updatedAt":"2025-10-08T01:35:29.647Z","createdAt":"2025-10-08T01:35:29.647Z","id":"2CC780LxenTRdi7P","name":"My project","type":"team","icon":{"type":"icon","value":"layers"},"description":null,"projectRelations":[{"updatedAt":"2025-10-08T01:35:29.649Z","createdAt":"2025-10-08T01:35:29.649Z","userId":"d45249eb-7aee-42f5-81af-e4c93a0d7c41","projectId":"2CC780LxenTRdi7P","user":{"updatedAt":"2026-01-06T11:49:29.000Z","createdAt":"2025-10-08T00:25:30.019Z","id":"d45249eb-7aee-42f5-81af-e4c93a0d7c41","email":"rashad.barnett@gmail.com","firstName":"Rashad","lastName":" ","personalizationAnswers":null,"settings":{"userActivated":false,"easyAIWorkflowOnboarded":true,"userClaimedAiCredits":true},"disabled":false,"mfaEnabled":true,"lastActiveAt":"2026-01-06","isPending":false}}]}}],"tags":[],"activeVersion":null}
