workflows/Ndxnf18G7HEBnPrL-AutoMagicly_-_Chat_Workflow.json
{"updatedAt":"2025-12-30T00:33:07.000Z","createdAt":"2025-12-29T03:17:52.323Z","id":"Ndxnf18G7HEBnPrL","name":"AutoMagicly - Chat Workflow","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"chat","responseMode":"responseNode","options":{}},"id":"66acaff5-5ad6-41c4-b7af-532d02046be1","name":"Webhook - Chat","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-400,-64],"webhookId":"automagicly-chat"},{"parameters":{"resource":"spreadsheet","operation":"appendOrUpdate"},"id":"3787dc22-df78-44de-bf2e-37c673add2ab","name":"Google Sheets - Log Chat","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[-208,-256],"credentials":{"googleSheetsOAuth2Api":{"id":"u4p2ZVWImQhY9Hnt","name":"Rashad Google Sheets account"}}},{"parameters":{"options":{},"requestOptions":{}},"id":"5ec0649a-1c87-4bf9-82ad-30a8318186a6","name":"OpenAI - Generate Response","type":"n8n-nodes-base.openAi","typeVersion":1,"position":[48,-256],"credentials":{"openAiApi":{"id":"51hIFZmWsjzQuJAg","name":"Rashad's OpenAi Account"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.message.toLowerCase() }}","operation":"contains","value2":"urgent"}]}},"id":"3b3cafdd-ae95-4996-b3d6-4141deda6625","name":"IF - Urgent Message?","type":"n8n-nodes-base.if","typeVersion":1,"position":[224,-256]},{"parameters":{"channel":"#chat-urgent","text":"=🚨 *Urgent Chat Message!*

*Session:* {{ $json.sessionId }}
*Message:* {{ $json.message }}
*AI Response:* {{ $node[\"OpenAI - Generate Response\"].json.choices[0].message.content }}

*Action:* Someone should follow up immediately!","otherOptions":{},"attachments":[]},"id":"863c35d5-c912-4b7d-a995-d89602f344be","name":"Slack - Urgent Alert","type":"n8n-nodes-base.slack","typeVersion":1,"position":[528,-256]},{"parameters":{"respondWith":"json","responseBody":"={{ { \"reply\": $node[\"OpenAI - Generate Response\"].json.choices[0].message.content, \"sessionId\": $json.sessionId } }}","options":{}},"id":"4ac3df6a-b06b-4728-8b28-59acad6f93e0","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[544,-48]},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[16,-64],"id":"0b8a5eba-d131-4e99-ad00-072e971e2034","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-5.2-chat-latest","mode":"list","cachedResultName":"gpt-5.2-chat-latest"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-224,176],"id":"2fba5e2a-86e9-4189-99fb-2afd3423f569","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"51hIFZmWsjzQuJAg","name":"Rashad's OpenAi Account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-80,176],"id":"cfa72f50-25ba-49e5-bac7-1bd4750d7c6f","name":"Simple Memory"},{"parameters":{"documentId":{"__rl":true,"mode":"list","value":""},"sheetName":{"__rl":true,"mode":"list","value":""}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[272,160],"id":"c96cf257-5cf8-4120-95de-a95475c48930","name":"Get row(s) in sheet in Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"u4p2ZVWImQhY9Hnt","name":"Rashad Google Sheets account"}}}],"connections":{"Webhook - Chat":{"main":[[{"node":"Google Sheets - Log Chat","type":"main","index":0},{"node":"AI Agent","type":"main","index":0}]]},"Google Sheets - Log Chat":{"main":[[{"node":"OpenAI - Generate Response","type":"main","index":0},{"node":"AI Agent","type":"main","index":0}]]},"OpenAI - Generate Response":{"main":[[{"node":"IF - Urgent Message?","type":"main","index":0}]]},"IF - Urgent Message?":{"main":[[{"node":"Slack - Urgent Alert","type":"main","index":0},{"node":"Respond to Webhook","type":"main","index":0}],[{"node":"Respond to Webhook","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Get row(s) in sheet in Google Sheets":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"eaaca849-ffa7-4685-adf6-f6a4374a58f8","activeVersionId":null,"versionCounter":6,"triggerCount":0,"shared":[{"updatedAt":"2025-12-29T03:17:52.327Z","createdAt":"2025-12-29T03:17:52.327Z","role":"workflow:owner","workflowId":"Ndxnf18G7HEBnPrL","projectId":"2CC780LxenTRdi7P","project":{"updatedAt":"2025-10-08T01:35:29.647Z","createdAt":"2025-10-08T01:35:29.647Z","id":"2CC780LxenTRdi7P","name":"My project","type":"team","icon":{"type":"icon","value":"layers"},"description":null,"projectRelations":[{"updatedAt":"2025-10-08T01:35:29.649Z","createdAt":"2025-10-08T01:35:29.649Z","userId":"d45249eb-7aee-42f5-81af-e4c93a0d7c41","projectId":"2CC780LxenTRdi7P","user":{"updatedAt":"2026-01-06T11:49:29.000Z","createdAt":"2025-10-08T00:25:30.019Z","id":"d45249eb-7aee-42f5-81af-e4c93a0d7c41","email":"rashad.barnett@gmail.com","firstName":"Rashad","lastName":" ","personalizationAnswers":null,"settings":{"userActivated":false,"easyAIWorkflowOnboarded":true,"userClaimedAiCredits":true},"disabled":false,"mfaEnabled":true,"lastActiveAt":"2026-01-06","isPending":false}}]}}],"tags":[],"activeVersion":null}
