workflows/qz00MlymWyhVKsle-AutoMagicly_-_Waitlist_Workflow.json
{
  "id": "qz00MlymWyhVKsle",
  "name": "AutoMagicly - Waitlist Workflow",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "waitlist",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "ae65c6e2-767c-4e22-a9cd-b66823426da9",
      "name": "Webhook - Waitlist",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -656,
        -192
      ],
      "webhookId": "automagicly-waitlist"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1GrzV6CMfFn9Tj8kOGaj8YtINNTazsYpdrdB5lOu9D_o",
          "mode": "list",
          "cachedResultName": "Waitlist spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GrzV6CMfFn9Tj8kOGaj8YtINNTazsYpdrdB5lOu9D_o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GrzV6CMfFn9Tj8kOGaj8YtINNTazsYpdrdB5lOu9D_o/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $json.email }}",
            "source": "={{ $json.source }}",
            "submitted at": "={{ $json.submittedAt.toDateTime().format('FFF') }}",
            "interest": "={{ $json.interest }}"
          },
          "matchingColumns": [
            "interest"
          ],
          "schema": [
            {
              "id": "interest",
              "displayName": "interest",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "submitted at",
              "displayName": "submitted at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "2345f83d-5c4b-45bf-891a-54fe5b8628ad",
      "name": "Google Sheets - Add to Waitlist",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -208,
        -192
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "u4p2ZVWImQhY9Hnt",
          "name": "Rashad Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "subject": "You're on the Waitlist! \ud83c\udf89",
        "includeHtml": true,
        "htmlMessage": "=<!DOCTYPE html>\n  <html>\n  <head>\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  </head>\n  <body style=\"margin: 0; padding: 0; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial, sans-serif; background-color: #f3f4f6;\">\n  {{ (() => {\n    // Helper Functions\n      const getProductName = (interest) => {\n        switch(interest) {\n          case 'business-in-a-box':\n            return 'Business-in-a-Box Products';\n          case 'automation-packs':\n            return 'Productized Automation Packs';\n          case 'both':\n            return 'Both Products';\n          default:\n            return 'Our Products';\n        }\n      };\n\n  const getProductEmoji = (interest) => {\n        switch(interest) {\n          case 'business-in-a-box':\n            return '\ud83d\udce6';\n          case 'automation-packs':\n            return '\u26a1';\n          case 'both':\n            return '\ud83d\udce6\u26a1';\n          default:\n            return '\u2728';\n        }\n      };\n\n      const shouldShowBusinessBox = (interest) => {\n        return interest === 'business-in-a-box' || interest === 'both';\n      };\n\n      const shouldShowAutomationBox = (interest) => {\n        return interest === 'automation-packs' || interest === 'both';\n      };\n\n      const getBusinessBoxHTML = () => {\n        return `<div style=\"background: linear-gradient(135deg, #f0f9ff 0%, #e0e7ff 100%); padding: 25px; border-radius: 12px; margin-bottom: 20px; border: 1px solid #e0e7ff;\">\n          <h3 style=\"margin: 0 0 15px 0; color: #1e40af; font-size: 20px;\">\ud83d\udce6 Business-in-a-Box Products</h3>\n          <p style=\"margin: 0; color: #1e3a8a; line-height: 1.6;\">\n            Prebuilt automation templates for common workflows, ready to deploy in minutes. Industry-specific packs for real estate, accounting, salons, and home services with pre-configured integrations,\n  documentation, and training included. One-time purchase, yours forever.\n          </p>\n        </div>`;\n      };\n\n      const getAutomationBoxHTML = () => {\n        return `<div style=\"background: linear-gradient(135deg, #fef3c7 0%, #fde68a 100%); padding: 25px; border-radius: 12px; margin-bottom: 20px; border: 1px solid #fbbf24;\">\n          <h3 style=\"margin: 0 0 15px 0; color: #92400e; font-size: 20px;\">\u26a1 Productized Automation Packs</h3>\n          <p style=\"margin: 0; color: #78350f; line-height: 1.6;\">\n            Lightweight, quick-start automations for common pain points like lead capture & follow-up, invoice automation, and customer onboarding. Fixed scope, fixed price, fast delivery.\n          </p>\n        </div>`;\n      };\n\n      const interest = $json.interest;\n      const productName = getProductName(interest);\n      const productEmoji = getProductEmoji(interest);\n\n  // Build the email HTML\n      return `\n    <div style=\"max-width: 600px; margin: 0 auto; padding: 20px;\">\n      <div style=\"background: white; border-radius: 12px; overflow: hidden; box-shadow: 0 4px 6px rgba(0,0,0,0.1);\">\n\n        <!-- Header -->\n        <div style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 40px 30px; text-align: center;\">\n          <div style=\"font-size: 50px; margin-bottom: 10px;\">\ud83c\udf89</div>\n          <h1 style=\"margin: 0; font-size: 28px; font-weight: 700;\">You're on the List!</h1>\n          <p style=\"margin: 10px 0 0 0; font-size: 14px; opacity: 0.9;\">Thanks for your interest in AutoMagicly</p>\n        </div>\n\n        <!-- Body -->\n        <div style=\"padding: 30px;\">\n\n          <!-- Confirmation Box -->\n          <div style=\"background: #f0fdf4; border-left: 4px solid #10b981; padding: 20px; border-radius: 8px; margin-bottom: 30px;\">\n            <p style=\"margin: 0; color: #065f46; font-size: 16px;\">\n              \u2713 You've been added to the waitlist for <strong>${productName}</strong>\n            </p>\n          </div>\n\n          <!-- Product Details -->\n          ${shouldShowBusinessBox(interest) ? getBusinessBoxHTML() : ''}\n          ${shouldShowAutomationBox(interest) ? getAutomationBoxHTML() : ''}\n\n          <!-- Benefits Section -->\n          <h3 style=\"color: #111827; font-size: 20px; margin: 30px 0 15px 0;\">\ud83c\udf81 You'll Be Among the First to Know!</h3>\n          <p style=\"color: #4b5563; margin: 0 0 20px 0; line-height: 1.6;\">\n            We'll email you when <strong>${productName}</strong> ${interest === 'both' ? 'launch' : 'launches'} with:\n          </p>\n\n          <div style=\"background: #f9fafb; border-radius: 8px; padding: 20px; margin-bottom: 30px;\">\n            <table style=\"width: 100%; border-collapse: collapse;\">\n              <tr>\n                <td style=\"padding: 8px 0; color: #374151;\">\n                  <span style=\"color: #10b981; font-size: 20px; margin-right: 10px;\">\u2713</span>\n                  <strong>Early Access</strong> - Before public release\n                </td>\n              </tr>\n              <tr>\n                <td style=\"padding: 8px 0; color: #374151;\">\n                  <span style=\"color: #10b981; font-size: 20px; margin-right: 10px;\">\u2713</span>\n                  <strong>Special Launch Pricing</strong> - Exclusive discount\n                </td>\n              </tr>\n              <tr>\n                <td style=\"padding: 8px 0; color: #374151;\">\n                  <span style=\"color: #10b981; font-size: 20px; margin-right: 10px;\">\u2713</span>\n                  <strong>Exclusive Onboarding</strong> - Personalized setup support\n                </td>\n              </tr>\n            </table>\n          </div>\n\n          <!-- CTA Section -->\n          <div style=\"background: linear-gradient(135deg, #fef3c7 0%, #fde68a 100%); padding: 25px; border-radius: 12px; text-align: center; margin-bottom: 20px; border: 2px solid #fbbf24;\">\n            <h3 style=\"margin: 0 0 10px 0; color: #92400e; font-size: 18px;\">Want to Start Automating Right Away?</h3>\n            <p style=\"margin: 0 0 20px 0; color: #78350f; font-size: 14px;\">\n              Don't wait! Schedule a free AI audit and start saving time today.\n            </p>\n            <a href=\"https://automagicly.com#booking\" style=\"display: inline-block; background: #2563eb; color: white; padding: 14px 32px; border-radius: 8px; text-decoration: none; font-weight: 700; \n  font-size: 16px; box-shadow: 0 4px 6px rgba(37, 99, 235, 0.3);\">\n              \ud83d\udcc5 Schedule Free AI Audit\n            </a>\n          </div>\n\n          <!-- Footer -->\n          <div style=\"text-align: center; padding-top: 20px; border-top: 1px solid #e5e7eb;\">\n            <p style=\"color: #6b7280; margin: 0; line-height: 1.6;\">\n              Talk soon!<br>\n              <strong style=\"color: #111827;\">The AutoMagicly Team</strong>\n            </p>\n            <p style=\"color: #9ca3af; font-size: 12px; margin: 15px 0 0 0;\">\n              P.S. Reply to this email if you have any questions. We read every message! \ud83d\udcac\n            </p>\n          </div>\n\n        </div>\n      </div>\n\n      <!-- Unsubscribe Footer -->\n      <div style=\"text-align: center; padding: 20px; color: #9ca3af; font-size: 12px;\">\n        <p style=\"margin: 0;\">\n          AutoMagicly - AI Automation for Your Business<br>\n          You're receiving this because you joined our waitlist\n        </p>\n      </div>\n    </div>\n  `;\n  })() }}\n  </body>\n  </html>",
        "message": "=",
        "toList": [
          "rashad.barnett@gmail.com"
        ],
        "additionalFields": {}
      },
      "id": "1912f027-a1dd-4b28-b967-01bd9451574d",
      "name": "Gmail - Waitlist Confirmation",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        16,
        -192
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "BTKh5C4ujrbOxvPI",
          "name": "Rashad.barnett@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \n  \"success\": true, \n  \"message\": \"You're on the waitlist! Check your email for confirmation.\", \"product\": \"{{ $('Google Sheets - Add to Waitlist').item.json.product }}\"\n}",
        "options": {}
      },
      "id": "f73549f2-875f-47f1-90cf-83af3db61c00",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        240,
        -192
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -432,
        -192
      ],
      "id": "7f83f9eb-06b0-4517-82d0-2033dfb2d49b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "message",
        "subject": "Waitlist Alert",
        "includeHtml": true,
        "htmlMessage": "=<!DOCTYPE html>\n  <html>\n  <head>\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  </head>\n  <body style=\"margin: 0; padding: 0; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial, sans-serif; background-color: #f3f4f6;\">{{ (() => {\n  // Helper Functions\n      const getProductName = (interest) => {\n        switch(interest) {\n          case 'business-in-a-box':\n            return 'Business-in-a-Box Products';\n          case 'automation-packs':\n            return 'Productized Automation Packs';\n          case 'both':\n            return 'Both Products';\n          default:\n            return 'Unknown Product';\n        }\n      };\n\n      const getProductEmoji = (interest) => {\n        switch(interest) {\n          case 'business-in-a-box':\n            return '\ud83d\udce6';\n          case 'automation-packs':\n            return '\u26a1';\n          case 'both':\n            return '\ud83d\udce6\u26a1';\n          default:\n            return '\u2753';\n        }\n      };\n\n      const getProductColor = (interest) => {\n        switch(interest) {\n          case 'business-in-a-box':\n            return '#3b82f6'; // Blue\n          case 'automation-packs':\n            return '#f59e0b'; // Orange\n          case 'both':\n            return '#8b5cf6'; // Purple\n          default:\n            return '#6b7280'; // Gray\n        }\n      };\n\n      const interest = $('Google Sheets - Add to Waitlist').item.json.interest\n      const email = $('Google Sheets - Add to Waitlist').item.json.email\n      const productName = getProductName(interest);\n      const productEmoji = getProductEmoji(interest);\n      const productColor = getProductColor(interest);\n      const timestamp = new Date().toLocaleString('en-US', {\n        timeZone: 'America/Chicago',\n        dateStyle: 'full',\n        timeStyle: 'short'\n      });\n\n      return `\n    <div style=\"max-width: 600px; margin: 0 auto; padding: 20px;\">\n      <div style=\"background: white; border-radius: 12px; overflow: hidden; box-shadow: 0 4px 6px rgba(0,0,0,0.1);\">\n\n        <!-- Header -->\n        <div style=\"background: ${productColor}; color: white; padding: 30px; text-align: center;\">\n          <div style=\"font-size: 50px; margin-bottom: 10px;\">${productEmoji}</div>\n          <h1 style=\"margin: 0; font-size: 24px; font-weight: 700;\">New Waitlist Signup!</h1>\n          <p style=\"margin: 10px 0 0 0; font-size: 14px; opacity: 0.9;\">Someone just joined the waitlist</p>\n        </div>\n\n        <!-- Body -->\n        <div style=\"padding: 30px;\">\n\n          <!-- Signup Details -->\n          <div style=\"background: #f9fafb; border-radius: 8px; padding: 20px; margin-bottom: 20px;\">\n            <h3 style=\"margin: 0 0 15px 0; color: #111827; font-size: 18px;\">\ud83d\udccb Signup Details</h3>\n            <table style=\"width: 100%; border-collapse: collapse;\">\n              <tr>\n                <td style=\"padding: 10px 0; color: #6b7280; font-size: 14px; width: 120px; vertical-align: top;\">\n                  <strong>Email:</strong>\n                </td>\n                <td style=\"padding: 10px 0; color: #111827; font-size: 14px;\">\n                  <a href=\"mailto:${email}\" style=\"color: #2563eb; text-decoration: none;\">${email}</a>\n                </td>\n              </tr>\n              <tr>\n                <td style=\"padding: 10px 0; color: #6b7280; font-size: 14px; vertical-align: top; border-top: 1px solid #e5e7eb;\">\n                  <strong>Interested In:</strong>\n                </td>\n                <td style=\"padding: 10px 0; color: #111827; font-size: 14px; border-top: 1px solid #e5e7eb;\">\n                  <span style=\"background: ${productColor}; color: white; padding: 4px 12px; border-radius: 20px; font-size: 13px; font-weight: 600;\">\n                    ${productEmoji} ${productName}\n                  </span>\n                </td>\n              </tr>\n              <tr>\n                <td style=\"padding: 10px 0; color: #6b7280; font-size: 14px; vertical-align: top; border-top: 1px solid #e5e7eb;\">\n                  <strong>Signed Up:</strong>\n                </td>\n                <td style=\"padding: 10px 0; color: #111827; font-size: 14px; border-top: 1px solid #e5e7eb;\">\n                  ${timestamp}\n                </td>\n              </tr>\n            </table>\n          </div>\n\n          <!-- Product Interest Details -->\n          <div style=\"background: linear-gradient(135deg, #f0f9ff 0%, #e0e7ff 100%); border-left: 4px solid ${productColor}; padding: 20px; border-radius: 8px; margin-bottom: 20px;\">\n            <h3 style=\"margin: 0 0 10px 0; color: #1e40af; font-size: 16px;\">What They're Interested In:</h3>\n            ${interest === 'business-in-a-box' ? `\n              <p style=\"margin: 0; color: #1e3a8a; font-size: 14px; line-height: 1.6;\">\n                <strong>Business-in-a-Box Products</strong> - Looking for industry-specific automation templates (real estate, accounting, salons, home services)\n              </p>\n            ` : ''}\n            ${interest === 'automation-packs' ? `\n              <p style=\"margin: 0; color: #1e3a8a; font-size: 14px; line-height: 1.6;\">\n                <strong>Productized Automation Packs</strong> - Interested in quick-start automations (lead capture, invoicing, customer onboarding)\n              </p>\n            ` : ''}\n            ${interest === 'both' ? `\n              <p style=\"margin: 0; color: #1e3a8a; font-size: 14px; line-height: 1.6;\">\n                <strong>Both Products</strong> - High intent! Interested in both Business-in-a-Box AND Productized Automation Packs\n              </p>\n            ` : ''}\n          </div>\n\n          <!-- Action Items -->\n          <div style=\"background: #fef3c7; border-left: 4px solid #f59e0b; padding: 20px; border-radius: 8px; margin-bottom: 20px;\">\n            <h3 style=\"margin: 0 0 10px 0; color: #92400e; font-size: 16px;\">\ud83d\udca1 Suggested Actions:</h3>\n            <ul style=\"margin: 10px 0 0 0; padding-left: 20px; color: #78350f; font-size: 14px; line-height: 1.8;\">\n              <li>Add to your email marketing system (waitlist segment)</li>\n              <li>Consider reaching out personally if high-value lead</li>\n              <li>Track in CRM for launch notification</li>\n              ${interest === 'both' ? '<li><strong style=\"color: #92400e;\">High Priority:</strong> This person wants both products - potential early adopter!</li>' : ''}\n            </ul>\n          </div>\n\n          <!-- Quick Stats -->\n          <div style=\"text-align: center; padding: 20px; background: #f9fafb; border-radius: 8px;\">\n            <p style=\"margin: 0; color: #6b7280; font-size: 13px;\">\n              This notification was sent automatically by your waitlist workflow.\n            </p>\n          </div>\n\n        </div>\n      </div>\n    </div>\n  `;\n    })() }}\n  </body>\n  </html>",
        "message": "=",
        "toList": [
          "rashad.barnett@gmail.com"
        ],
        "additionalFields": {}
      },
      "id": "ebb8d7ba-82c7-43a4-91c1-2f63d32744be",
      "name": "AutoMagicly Confirmation",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [
        464,
        -192
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "BTKh5C4ujrbOxvPI",
          "name": "Rashad.barnett@gmail.com"
        }
      }
    }
  ],
  "connections": {
    "Webhook - Waitlist": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Add to Waitlist": {
      "main": [
        [
          {
            "node": "Gmail - Waitlist Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Waitlist Confirmation": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Google Sheets - Add to Waitlist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "AutoMagicly Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "createdAt": "2025-12-24T23:16:55.862Z",
  "description": null
}