workflows/s2HZ2QiRJPtuQYmA-AutoMagicly_-_Reviews_Workflow.json
{"updatedAt":"2025-12-31T02:13:56.000Z","createdAt":"2025-12-24T04:30:01.813Z","id":"s2HZ2QiRJPtuQYmA","name":"AutoMagicly - Reviews Workflow","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"reviews","responseMode":"responseNode","options":{}},"id":"e2cd6963-a73f-400f-88fd-d97829686ae0","name":"Webhook - Reviews","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-832,-240],"webhookId":"automagicly-reviews"},{"parameters":{"conditions":{"number":[{"value1":"={{ $json.rating }}","operation":"largerEqual","value2":4}]}},"id":"980b0af6-5272-4365-935b-996fb0153615","name":"IF - Positive Review?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-160,-240]},{"parameters":{"resource":"message","subject":"Thank You for Your Review! 🌟","includeHtml":true,"htmlMessage":"=<h2>Hi {{ $json.Name }},</h2>

<p>Thank you so much for your amazing {{ $json.rating }}-star review! ⭐</p>

<p>We're thrilled that our automation solutions are helping {{ $json.company }} save time and work more efficiently.</p>

<div style=\"background: #f0f9ff; padding: 20px; border-radius: 10px; margin: 20px 0;\">
  <h3>Share Your Success Story</h3>
  <p>Would you mind sharing your experience on Google or LinkedIn? Your story could help other businesses discover the power of automation!</p>
  <p>
    <a href=\"https://g.page/r/YOUR_GOOGLE_BUSINESS_LINK/review\" style=\"display: inline-block; background: #0ea5e9; color: white; padding: 12px 24px; border-radius: 8px; text-decoration: none; margin: 5px;\">Review on Google</a>
  </p>
</div>

<p>As a token of our appreciation, we'd love to feature your testimonial on our website (with your permission, of course).</p>

<p>If you know anyone else who could benefit from automation, we'd be grateful for any referrals. You can use our referral program at: https://automagicly.com#referrals</p>

<p>Thanks again!<br>
The AutoMagicly Team</p>","message":"=","toList":["={{ $json.email }}"],"additionalFields":{"senderName":"Automagicly"}},"id":"3fb1e436-dfc3-4fe2-ac14-ce6d9c0d6de1","name":"Gmail - Thank You Email","type":"n8n-nodes-base.gmail","typeVersion":1,"position":[64,-336],"credentials":{"gmailOAuth2":{"id":"BTKh5C4ujrbOxvPI","name":"Rashad.barnett@gmail.com"}}},{"parameters":{"resource":"message","subject":"=⚠️ Low Review Alert: {{ $json.rating }} stars from {{ $json.Name }}","includeHtml":true,"htmlMessage":"=<h2>Low Rating Alert</h2>

<p><strong>Rating:</strong> {{ $json.rating }}/5 stars</p>
<p><strong>From:</strong> {{ $json.Name }} ({{ $json.company }})</p>
<p><strong>Email:</strong> {{ $json.email }}</p>

<h3>Review:</h3>
<p>{{ $json.review }}</p>

<hr>

<p><strong>Action Required:</strong> Please follow up with this client to address their concerns.</p>","message":"=","toList":["rashad.barnett@gmail.com"],"additionalFields":{"senderName":"Automagicly"}},"id":"714be4b0-573f-47b2-87c1-dab88b1a4644","name":"Gmail - Low Rating Alert","type":"n8n-nodes-base.gmail","typeVersion":1,"position":[64,-144],"credentials":{"gmailOAuth2":{"id":"BTKh5C4ujrbOxvPI","name":"Rashad.barnett@gmail.com"}}},{"parameters":{"respondWith":"json","responseBody":"={{ { \"success\": true, \"message\": \"Thank you for your review! We appreciate your feedback.\" } }}","options":{}},"id":"8b94ad58-74eb-4d70-b727-ec5b09ea80c5","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[288,-240]},{"parameters":{"assignments":{"assignments":[{"id":"3e555211-d580-41c6-8687-67784d334c31","name":"body","value":"={{ $json.body }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-608,-240],"id":"e64ee073-cb2f-4c60-821c-51dc9dd23373","name":"Edit Fields"},{"parameters":{"operation":"sendAndWait","sendTo":"rashad.barnett@gmail.com","subject":"={{ '⭐'.repeat($('Insert to DynamoDB').item.json.rating) }} New Review from {{ $('Insert to DynamoDB').item.json.name || 'Anonymous' }}","message":"=<!DOCTYPE html>
<html>
<head>
  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">
</head>
<body style=\"margin: 0; padding: 0; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial, sans-serif; background-color: #f3f4f6;\">
  <div style=\"max-width: 600px; margin: 0 auto; padding: 20px;\">
    <div style=\"background: white; border-radius: 12px; overflow: hidden; box-shadow: 0 4px 6px rgba(0,0,0,0.1);\">
      
      <div style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 40px 30px; text-align: center;\">
        <h1 style=\"margin: 0; font-size: 28px; font-weight: 700;\">✨ New Review Submitted!</h1>
        <p style=\"margin: 10px 0 0 0; font-size: 14px; opacity: 0.9;\">Review ID: {{ $('Insert to DynamoDB').item.json.id }}</p>
      </div>

      <div style=\"padding: 30px;\">
        
        <div style=\"text-align: center; margin-bottom: 25px;\">
          <div style=\"color: #fbbf24; font-size: 32px; line-height: 1;\">
            {{ '★'.repeat($('Insert to DynamoDB').item.json.rating) }}{{ '☆'.repeat(5 - $('Insert to DynamoDB').item.json.rating) }}
          </div>
          <p style=\"margin: 8px 0 0 0; color: #6b7280; font-size: 14px;\">{{ $('Insert to DynamoDB').item.json.rating }} out of 5 stars</p>
        </div>

        <div style=\"background: #f9fafb; padding: 20px; border-radius: 8px; margin-bottom: 20px;\">
          <table style=\"width: 100%; border-collapse: collapse;\">
            <tr>
              <td style=\"padding: 6px 0; color: #6b7280; font-size: 14px; width: 80px;\"><strong>From:</strong></td>
              <td style=\"padding: 6px 0; color: #111827; font-size: 14px;\">{{ $('Insert to DynamoDB').item.json.name || 'Anonymous' }}</td>
            </tr>
            <tr>
              <td style=\"padding: 6px 0; color: #6b7280; font-size: 14px;\"><strong>Email:</strong></td>
              <td style=\"padding: 6px 0; color: #111827; font-size: 14px;\">{{ $('Insert to DynamoDB').item.json.email || 'Not provided' }}</td>
            </tr>
            <tr>
              <td style=\"padding: 6px 0; color: #6b7280; font-size: 14px;\"><strong>Company:</strong></td>
              <td style=\"padding: 6px 0; color: #111827; font-size: 14px;\">{{ $('Insert to DynamoDB').item.json.company || 'Not provided' }}</td>
            </tr>
            <tr>
              <td style=\"padding: 6px 0; color: #6b7280; font-size: 14px;\"><strong>Service:</strong></td>
              <td style=\"padding: 6px 0; color: #111827; font-size: 14px;\">{{ $('Insert to DynamoDB').item.json.service_type }}</td>
            </tr>
          </table>
        </div>

        <div style=\"background: white; padding: 20px; border-radius: 8px; border-left: 4px solid #3b82f6; margin-bottom: 30px;\">
          <p style=\"margin: 0; font-size: 16px; line-height: 1.6; color: #374151; font-style: italic;\">
            \"{{ $('Insert to DynamoDB').item.json.review_text }}\"
          </p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>","approvalOptions":{"values":{"approvalType":"double"}},"options":{"limitWaitTime":{"values":{"resumeAmount":45,"resumeUnit":"days"}},"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[512,-240],"id":"36767f70-56a1-4518-9c27-c832f227216b","name":"Send message and wait for response","webhookId":"9dccf839-63c4-48cc-b690-72687123c0b0","credentials":{"gmailOAuth2":{"id":"BTKh5C4ujrbOxvPI","name":"Rashad.barnett@gmail.com"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1dXxJWvcWMhUiaR4382RbXnTNlQSHQP8Bl-y752UBrEo","mode":"list","cachedResultName":"Review Spreadsheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1dXxJWvcWMhUiaR4382RbXnTNlQSHQP8Bl-y752UBrEo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1dXxJWvcWMhUiaR4382RbXnTNlQSHQP8Bl-y752UBrEo/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Name":"={{ $json.name }}","rating":"={{ $json.rating }}","company":"={{ $json.company }}","email":"={{ $json.email }}","review":"={{ $json.review_text }}","ID":"={{ $json.id }}","Service Type":"={{ $json.service_type }}","Approved for website":"={{ $json.status }}","Created Date":"={{ $json.created_at.toDateTime().format('FFF') }}"},"matchingColumns":["Name"],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"rating","displayName":"rating","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"company","displayName":"company","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"review","displayName":"review","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Service Type","displayName":"Service Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Approved for website","displayName":"Approved for website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Created Date","displayName":"Created Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[960,-240],"id":"7424b50d-0237-4354-8395-d708868357de","name":"Supbase Backup","credentials":{"googleSheetsOAuth2Api":{"id":"u4p2ZVWImQhY9Hnt","name":"Rashad Google Sheets account"}}},{"parameters":{"tableName":"automagicly-reviews","fieldsUi":{"fieldValues":[{"fieldId":"id","fieldValue":"={{ 'review-' + $now.toMillis() + '-' + Math.floor(Math.random() * 100000) }}"},{"fieldId":"name","fieldValue":"={{ $json.body.name || 'anonymous' }}"},{"fieldId":"email","fieldValue":"={{ $json.body.email || '' }}"},{"fieldId":"company","fieldValue":"={{ $json.body.company || '' }}"},{"fieldId":"rating","fieldValue":"={{ $json.body.rating }}"},{"fieldId":"review_text","fieldValue":"={{ $json.body.reviewText }}"},{"fieldId":"service_type","fieldValue":"={{ $json.body.serviceType }}"},{"fieldId":"status","fieldValue":"pending"},{"fieldId":"featured","fieldValue":"=false"},{"fieldId":"approval_token","fieldValue":"={{ $now.toMillis() + '_' + ($json.body.email || 'anon') + '_' + Math.floor(Math.random() * 10000) }}"},{"fieldId":"token_expires_at","fieldValue":"={{ $now.plus({days: 7}).toMillis() }}"},{"fieldId":"created_at","fieldValue":"={{ $now.toMillis() }}"},{"fieldId":"updated_at","fieldValue":"={{ $now.toMillis() }}"}]},"additionalFields":{}},"type":"n8n-nodes-base.awsDynamoDb","typeVersion":1,"position":[-384,-240],"id":"dff3d542-6720-41b4-be40-7760f5cc3dc5","name":"Insert to DynamoDB","credentials":{"aws":{"id":"vJrvHYreHROi5Lqd","name":"AWS (IAM) account"}}},{"parameters":{"tableName":"automagicly-reviews","fieldsUi":{"fieldValues":[{"fieldId":"id","fieldValue":"={{ $('Insert to DynamoDB').item.json.id }}"},{"fieldId":"name","fieldValue":"={{ $('Insert to DynamoDB').item.json.name }}"},{"fieldId":"email","fieldValue":"={{ $('Insert to DynamoDB').item.json.email }}"},{"fieldId":"company","fieldValue":"={{ $('Insert to DynamoDB').item.json.company }}"},{"fieldId":"rating","fieldValue":"={{ $('Insert to DynamoDB').item.json.rating }}"},{"fieldId":"review_text","fieldValue":"={{ $('Insert to DynamoDB').item.json.review_text }}"},{"fieldId":"service_type","fieldValue":"={{ $('Insert to DynamoDB').item.json.service_type }}"},{"fieldId":"status","fieldValue":"={{ $json.data.approved ? 'approved' : 'rejected' }}"},{"fieldId":"featured","fieldValue":"={{ $('Insert to DynamoDB').item.json.featured }}"},{"fieldId":"approval_token","fieldValue":"={{ $('Insert to DynamoDB').item.json.approval_token }}"},{"fieldId":"token_expires_at","fieldValue":"={{ $('Insert to DynamoDB').item.json.token_expires_at }}"},{"fieldId":"created_at","fieldValue":"={{ $('Insert to DynamoDB').item.json.created_at }}"},{"fieldId":"approved_at","fieldValue":"={{ $now.toMillis() }}"},{"fieldId":"updated_at","fieldValue":"={{ $now.toMillis() }}"}]},"additionalFields":{}},"type":"n8n-nodes-base.awsDynamoDb","typeVersion":1,"position":[736,-240],"id":"571135bf-4fa4-4295-bef0-bfa89ef7bf1d","name":"Update Review Status in DynamoDB","credentials":{"aws":{"id":"vJrvHYreHROi5Lqd","name":"AWS (IAM) account"}}}],"connections":{"Webhook - Reviews":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"IF - Positive Review?":{"main":[[{"node":"Gmail - Thank You Email","type":"main","index":0}],[{"node":"Gmail - Low Rating Alert","type":"main","index":0}]]},"Gmail - Thank You Email":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Gmail - Low Rating Alert":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Insert to DynamoDB","type":"main","index":0}]]},"Send message and wait for response":{"main":[[{"node":"Update Review Status in DynamoDB","type":"main","index":0}]]},"Respond to Webhook":{"main":[[{"node":"Send message and wait for response","type":"main","index":0}]]},"Supbase Backup":{"main":[[]]},"Insert to DynamoDB":{"main":[[{"node":"IF - Positive Review?","type":"main","index":0}]]},"Update Review Status in DynamoDB":{"main":[[{"node":"Supbase Backup","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"aa39dbfe-804d-4fb2-bedd-84ceb32d5020","activeVersionId":"aa39dbfe-804d-4fb2-bedd-84ceb32d5020","versionCounter":24,"triggerCount":1,"shared":[{"updatedAt":"2025-12-24T04:30:01.819Z","createdAt":"2025-12-24T04:30:01.819Z","role":"workflow:owner","workflowId":"s2HZ2QiRJPtuQYmA","projectId":"2CC780LxenTRdi7P","project":{"updatedAt":"2025-10-08T01:35:29.647Z","createdAt":"2025-10-08T01:35:29.647Z","id":"2CC780LxenTRdi7P","name":"My project","type":"team","icon":{"type":"icon","value":"layers"},"description":null,"projectRelations":[{"updatedAt":"2025-10-08T01:35:29.649Z","createdAt":"2025-10-08T01:35:29.649Z","userId":"d45249eb-7aee-42f5-81af-e4c93a0d7c41","projectId":"2CC780LxenTRdi7P","user":{"updatedAt":"2026-01-06T11:49:29.000Z","createdAt":"2025-10-08T00:25:30.019Z","id":"d45249eb-7aee-42f5-81af-e4c93a0d7c41","email":"rashad.barnett@gmail.com","firstName":"Rashad","lastName":" ","personalizationAnswers":null,"settings":{"userActivated":false,"easyAIWorkflowOnboarded":true,"userClaimedAiCredits":true},"disabled":false,"mfaEnabled":true,"lastActiveAt":"2026-01-06","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2025-12-31T02:13:56.486Z","createdAt":"2025-12-31T02:13:56.486Z","versionId":"aa39dbfe-804d-4fb2-bedd-84ceb32d5020","workflowId":"s2HZ2QiRJPtuQYmA","nodes":[{"parameters":{"httpMethod":"POST","path":"reviews","responseMode":"responseNode","options":{}},"id":"e2cd6963-a73f-400f-88fd-d97829686ae0","name":"Webhook - Reviews","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-832,-240],"webhookId":"automagicly-reviews"},{"parameters":{"conditions":{"number":[{"value1":"={{ $json.rating }}","operation":"largerEqual","value2":4}]}},"id":"980b0af6-5272-4365-935b-996fb0153615","name":"IF - Positive Review?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-160,-240]},{"parameters":{"resource":"message","subject":"Thank You for Your Review! 🌟","includeHtml":true,"htmlMessage":"=<h2>Hi {{ $json.Name }},</h2>

<p>Thank you so much for your amazing {{ $json.rating }}-star review! ⭐</p>

<p>We're thrilled that our automation solutions are helping {{ $json.company }} save time and work more efficiently.</p>

<div style=\"background: #f0f9ff; padding: 20px; border-radius: 10px; margin: 20px 0;\">
  <h3>Share Your Success Story</h3>
  <p>Would you mind sharing your experience on Google or LinkedIn? Your story could help other businesses discover the power of automation!</p>
  <p>
    <a href=\"https://g.page/r/YOUR_GOOGLE_BUSINESS_LINK/review\" style=\"display: inline-block; background: #0ea5e9; color: white; padding: 12px 24px; border-radius: 8px; text-decoration: none; margin: 5px;\">Review on Google</a>
  </p>
</div>

<p>As a token of our appreciation, we'd love to feature your testimonial on our website (with your permission, of course).</p>

<p>If you know anyone else who could benefit from automation, we'd be grateful for any referrals. You can use our referral program at: https://automagicly.com#referrals</p>

<p>Thanks again!<br>
The AutoMagicly Team</p>","message":"=","toList":["={{ $json.email }}"],"additionalFields":{"senderName":"Automagicly"}},"id":"3fb1e436-dfc3-4fe2-ac14-ce6d9c0d6de1","name":"Gmail - Thank You Email","type":"n8n-nodes-base.gmail","typeVersion":1,"position":[64,-336],"credentials":{"gmailOAuth2":{"id":"BTKh5C4ujrbOxvPI","name":"Rashad.barnett@gmail.com"}}},{"parameters":{"resource":"message","subject":"=⚠️ Low Review Alert: {{ $json.rating }} stars from {{ $json.Name }}","includeHtml":true,"htmlMessage":"=<h2>Low Rating Alert</h2>

<p><strong>Rating:</strong> {{ $json.rating }}/5 stars</p>
<p><strong>From:</strong> {{ $json.Name }} ({{ $json.company }})</p>
<p><strong>Email:</strong> {{ $json.email }}</p>

<h3>Review:</h3>
<p>{{ $json.review }}</p>

<hr>

<p><strong>Action Required:</strong> Please follow up with this client to address their concerns.</p>","message":"=","toList":["rashad.barnett@gmail.com"],"additionalFields":{"senderName":"Automagicly"}},"id":"714be4b0-573f-47b2-87c1-dab88b1a4644","name":"Gmail - Low Rating Alert","type":"n8n-nodes-base.gmail","typeVersion":1,"position":[64,-144],"credentials":{"gmailOAuth2":{"id":"BTKh5C4ujrbOxvPI","name":"Rashad.barnett@gmail.com"}}},{"parameters":{"respondWith":"json","responseBody":"={{ { \"success\": true, \"message\": \"Thank you for your review! We appreciate your feedback.\" } }}","options":{}},"id":"8b94ad58-74eb-4d70-b727-ec5b09ea80c5","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[288,-240]},{"parameters":{"assignments":{"assignments":[{"id":"3e555211-d580-41c6-8687-67784d334c31","name":"body","value":"={{ $json.body }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-608,-240],"id":"e64ee073-cb2f-4c60-821c-51dc9dd23373","name":"Edit Fields"},{"parameters":{"operation":"sendAndWait","sendTo":"rashad.barnett@gmail.com","subject":"={{ '⭐'.repeat($('Insert to DynamoDB').item.json.rating) }} New Review from {{ $('Insert to DynamoDB').item.json.name || 'Anonymous' }}","message":"=<!DOCTYPE html>
<html>
<head>
  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">
</head>
<body style=\"margin: 0; padding: 0; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial, sans-serif; background-color: #f3f4f6;\">
  <div style=\"max-width: 600px; margin: 0 auto; padding: 20px;\">
    <div style=\"background: white; border-radius: 12px; overflow: hidden; box-shadow: 0 4px 6px rgba(0,0,0,0.1);\">
      
      <div style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 40px 30px; text-align: center;\">
        <h1 style=\"margin: 0; font-size: 28px; font-weight: 700;\">✨ New Review Submitted!</h1>
        <p style=\"margin: 10px 0 0 0; font-size: 14px; opacity: 0.9;\">Review ID: {{ $('Insert to DynamoDB').item.json.id }}</p>
      </div>

      <div style=\"padding: 30px;\">
        
        <div style=\"text-align: center; margin-bottom: 25px;\">
          <div style=\"color: #fbbf24; font-size: 32px; line-height: 1;\">
            {{ '★'.repeat($('Insert to DynamoDB').item.json.rating) }}{{ '☆'.repeat(5 - $('Insert to DynamoDB').item.json.rating) }}
          </div>
          <p style=\"margin: 8px 0 0 0; color: #6b7280; font-size: 14px;\">{{ $('Insert to DynamoDB').item.json.rating }} out of 5 stars</p>
        </div>

        <div style=\"background: #f9fafb; padding: 20px; border-radius: 8px; margin-bottom: 20px;\">
          <table style=\"width: 100%; border-collapse: collapse;\">
            <tr>
              <td style=\"padding: 6px 0; color: #6b7280; font-size: 14px; width: 80px;\"><strong>From:</strong></td>
              <td style=\"padding: 6px 0; color: #111827; font-size: 14px;\">{{ $('Insert to DynamoDB').item.json.name || 'Anonymous' }}</td>
            </tr>
            <tr>
              <td style=\"padding: 6px 0; color: #6b7280; font-size: 14px;\"><strong>Email:</strong></td>
              <td style=\"padding: 6px 0; color: #111827; font-size: 14px;\">{{ $('Insert to DynamoDB').item.json.email || 'Not provided' }}</td>
            </tr>
            <tr>
              <td style=\"padding: 6px 0; color: #6b7280; font-size: 14px;\"><strong>Company:</strong></td>
              <td style=\"padding: 6px 0; color: #111827; font-size: 14px;\">{{ $('Insert to DynamoDB').item.json.company || 'Not provided' }}</td>
            </tr>
            <tr>
              <td style=\"padding: 6px 0; color: #6b7280; font-size: 14px;\"><strong>Service:</strong></td>
              <td style=\"padding: 6px 0; color: #111827; font-size: 14px;\">{{ $('Insert to DynamoDB').item.json.service_type }}</td>
            </tr>
          </table>
        </div>

        <div style=\"background: white; padding: 20px; border-radius: 8px; border-left: 4px solid #3b82f6; margin-bottom: 30px;\">
          <p style=\"margin: 0; font-size: 16px; line-height: 1.6; color: #374151; font-style: italic;\">
            \"{{ $('Insert to DynamoDB').item.json.review_text }}\"
          </p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>","approvalOptions":{"values":{"approvalType":"double"}},"options":{"limitWaitTime":{"values":{"resumeAmount":45,"resumeUnit":"days"}},"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[512,-240],"id":"36767f70-56a1-4518-9c27-c832f227216b","name":"Send message and wait for response","webhookId":"9dccf839-63c4-48cc-b690-72687123c0b0","credentials":{"gmailOAuth2":{"id":"BTKh5C4ujrbOxvPI","name":"Rashad.barnett@gmail.com"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1dXxJWvcWMhUiaR4382RbXnTNlQSHQP8Bl-y752UBrEo","mode":"list","cachedResultName":"Review Spreadsheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1dXxJWvcWMhUiaR4382RbXnTNlQSHQP8Bl-y752UBrEo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1dXxJWvcWMhUiaR4382RbXnTNlQSHQP8Bl-y752UBrEo/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Name":"={{ $json.name }}","rating":"={{ $json.rating }}","company":"={{ $json.company }}","email":"={{ $json.email }}","review":"={{ $json.review_text }}","ID":"={{ $json.id }}","Service Type":"={{ $json.service_type }}","Approved for website":"={{ $json.status }}","Created Date":"={{ $json.created_at.toDateTime().format('FFF') }}"},"matchingColumns":["Name"],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"rating","displayName":"rating","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"company","displayName":"company","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"review","displayName":"review","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Service Type","displayName":"Service Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Approved for website","displayName":"Approved for website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Created Date","displayName":"Created Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[960,-240],"id":"7424b50d-0237-4354-8395-d708868357de","name":"Supbase Backup","credentials":{"googleSheetsOAuth2Api":{"id":"u4p2ZVWImQhY9Hnt","name":"Rashad Google Sheets account"}}},{"parameters":{"tableName":"automagicly-reviews","fieldsUi":{"fieldValues":[{"fieldId":"id","fieldValue":"={{ 'review-' + $now.toMillis() + '-' + Math.floor(Math.random() * 100000) }}"},{"fieldId":"name","fieldValue":"={{ $json.body.name || 'anonymous' }}"},{"fieldId":"email","fieldValue":"={{ $json.body.email || '' }}"},{"fieldId":"company","fieldValue":"={{ $json.body.company || '' }}"},{"fieldId":"rating","fieldValue":"={{ $json.body.rating }}"},{"fieldId":"review_text","fieldValue":"={{ $json.body.reviewText }}"},{"fieldId":"service_type","fieldValue":"={{ $json.body.serviceType }}"},{"fieldId":"status","fieldValue":"pending"},{"fieldId":"featured","fieldValue":"=false"},{"fieldId":"approval_token","fieldValue":"={{ $now.toMillis() + '_' + ($json.body.email || 'anon') + '_' + Math.floor(Math.random() * 10000) }}"},{"fieldId":"token_expires_at","fieldValue":"={{ $now.plus({days: 7}).toMillis() }}"},{"fieldId":"created_at","fieldValue":"={{ $now.toMillis() }}"},{"fieldId":"updated_at","fieldValue":"={{ $now.toMillis() }}"}]},"additionalFields":{}},"type":"n8n-nodes-base.awsDynamoDb","typeVersion":1,"position":[-384,-240],"id":"dff3d542-6720-41b4-be40-7760f5cc3dc5","name":"Insert to DynamoDB","credentials":{"aws":{"id":"vJrvHYreHROi5Lqd","name":"AWS (IAM) account"}}},{"parameters":{"tableName":"automagicly-reviews","fieldsUi":{"fieldValues":[{"fieldId":"id","fieldValue":"={{ $('Insert to DynamoDB').item.json.id }}"},{"fieldId":"name","fieldValue":"={{ $('Insert to DynamoDB').item.json.name }}"},{"fieldId":"email","fieldValue":"={{ $('Insert to DynamoDB').item.json.email }}"},{"fieldId":"company","fieldValue":"={{ $('Insert to DynamoDB').item.json.company }}"},{"fieldId":"rating","fieldValue":"={{ $('Insert to DynamoDB').item.json.rating }}"},{"fieldId":"review_text","fieldValue":"={{ $('Insert to DynamoDB').item.json.review_text }}"},{"fieldId":"service_type","fieldValue":"={{ $('Insert to DynamoDB').item.json.service_type }}"},{"fieldId":"status","fieldValue":"={{ $json.data.approved ? 'approved' : 'rejected' }}"},{"fieldId":"featured","fieldValue":"={{ $('Insert to DynamoDB').item.json.featured }}"},{"fieldId":"approval_token","fieldValue":"={{ $('Insert to DynamoDB').item.json.approval_token }}"},{"fieldId":"token_expires_at","fieldValue":"={{ $('Insert to DynamoDB').item.json.token_expires_at }}"},{"fieldId":"created_at","fieldValue":"={{ $('Insert to DynamoDB').item.json.created_at }}"},{"fieldId":"approved_at","fieldValue":"={{ $now.toMillis() }}"},{"fieldId":"updated_at","fieldValue":"={{ $now.toMillis() }}"}]},"additionalFields":{}},"type":"n8n-nodes-base.awsDynamoDb","typeVersion":1,"position":[736,-240],"id":"571135bf-4fa4-4295-bef0-bfa89ef7bf1d","name":"Update Review Status in DynamoDB","credentials":{"aws":{"id":"vJrvHYreHROi5Lqd","name":"AWS (IAM) account"}}}],"connections":{"Webhook - Reviews":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"IF - Positive Review?":{"main":[[{"node":"Gmail - Thank You Email","type":"main","index":0}],[{"node":"Gmail - Low Rating Alert","type":"main","index":0}]]},"Gmail - Thank You Email":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Gmail - Low Rating Alert":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Insert to DynamoDB","type":"main","index":0}]]},"Send message and wait for response":{"main":[[{"node":"Update Review Status in DynamoDB","type":"main","index":0}]]},"Respond to Webhook":{"main":[[{"node":"Send message and wait for response","type":"main","index":0}]]},"Supbase Backup":{"main":[[]]},"Insert to DynamoDB":{"main":[[{"node":"IF - Positive Review?","type":"main","index":0}]]},"Update Review Status in DynamoDB":{"main":[[{"node":"Supbase Backup","type":"main","index":0}]]}},"authors":"Rashad  ","name":null,"description":null}}
