workflows/Z2v97fyXLSbr51pK-AutoMagicly_-_Review_Generator.json
{"updatedAt":"2026-01-06T05:05:22.000Z","createdAt":"2026-01-06T03:42:59.268Z","id":"Z2v97fyXLSbr51pK","name":"AutoMagicly - Review Generator","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"review-generator","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-512,-160],"id":"8fbab308-c624-47a7-95a5-499fcd117c7a","name":"Webhook","webhookId":"7afeb5de-86be-445a-80a4-0440b9b3e492"},{"parameters":{"respondWith":"json","responseBody":"={
  \"review\": \"{{ $json.output.review }}\"
} ","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[288,-160],"id":"ab28301f-dd52-431f-910e-bf488206d05f","name":"Respond to Webhook"},{"parameters":{"mode":"raw","jsonOutput":"={{ $json.body }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-288,-160],"id":"4f055467-33a5-4092-9a50-e01c2bb8fc3b","name":"Edit Fields"},{"parameters":{"promptType":"=define","text":"=Generate a customer review with the following details:

RATING: {{$json.rating}}/5 stars

TONE: {{$json.tone}}

CUSTOMER ANSWERS:
{{$json.answers.map((qa, i) => `Q: ${qa.question}\nA: ${qa.answer || 'Not provided'}`).join('\n\n')}}

Write a review that:
- Matches the {{$json.rating}}-star rating sentiment
- Uses a {{$json.tone}} tone
- Incorporates insights from the answers WITHOUT revealing PII
- Is maximum 250 characters
- Tells a natural before/during/after story

Return only the review text.","hasOutputParser":true,"options":{"systemMessage":"You are an expert at writing authentic, human-sounding customer reviews. Your task is to create a review based on the customer's rating, preferred tone, and their answers to questions about their experience.

CRITICAL RULES:
1. Write in FIRST PERSON (\"We\", \"I\", \"Our\")
2. Match the sentiment to the star rating (5 stars = very positive, 1 star = critical)
3. Use the specified tone (professional, enthusiastic, or casual)
4. MAXIMUM LENGTH: 250 characters (strict limit)
5. NEVER include PII: no names, company names, emails, phone numbers, or identifying details
6. NO profanity or inappropriate language
7. Sound like a real person, not AI
8. Tell a story: problem → solution → results
9. Be specific but concise
10. Return ONLY the review text - no quotes, no extra formatting

TONE GUIDELINES:
- Professional: Clear, articulate, business-focused
- Enthusiastic: Energetic, excited, highly positive
- Casual: Conversational, friendly, relaxed

RATING SENTIMENT:
- 5 stars: Exceptional, exceeded expectations, glowing praise
- 4 stars: Very good, positive with realistic nuance
- 3 stars: Satisfactory, balanced, met basic expectations
- 2 stars: Disappointing, constructive criticism
- 1 star: Poor experience, significant issues"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-64,-160],"id":"ac5640c3-3339-4d82-aebc-407134552722","name":"AI Agent"},{"parameters":{"jsonSchemaExample":"{
	\"review\": \"California\"
}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[128,32],"id":"baa5901e-bc88-47c3-88ca-d66811125f1b","name":"Structured Output Parser1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-112,32],"id":"9c9bb5e6-21f5-45ed-80a8-42e458dbf897","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"51hIFZmWsjzQuJAg","name":"Rashad's OpenAi Account"}}}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1f5c6c02-26ac-405f-9f06-a61082610b62","activeVersionId":"1f5c6c02-26ac-405f-9f06-a61082610b62","versionCounter":8,"triggerCount":1,"shared":[{"updatedAt":"2026-01-06T03:42:59.273Z","createdAt":"2026-01-06T03:42:59.273Z","role":"workflow:owner","workflowId":"Z2v97fyXLSbr51pK","projectId":"2CC780LxenTRdi7P","project":{"updatedAt":"2025-10-08T01:35:29.647Z","createdAt":"2025-10-08T01:35:29.647Z","id":"2CC780LxenTRdi7P","name":"My project","type":"team","icon":{"type":"icon","value":"layers"},"description":null,"projectRelations":[{"updatedAt":"2025-10-08T01:35:29.649Z","createdAt":"2025-10-08T01:35:29.649Z","userId":"d45249eb-7aee-42f5-81af-e4c93a0d7c41","projectId":"2CC780LxenTRdi7P","user":{"updatedAt":"2026-01-06T11:49:29.000Z","createdAt":"2025-10-08T00:25:30.019Z","id":"d45249eb-7aee-42f5-81af-e4c93a0d7c41","email":"rashad.barnett@gmail.com","firstName":"Rashad","lastName":" ","personalizationAnswers":null,"settings":{"userActivated":false,"easyAIWorkflowOnboarded":true,"userClaimedAiCredits":true},"disabled":false,"mfaEnabled":true,"lastActiveAt":"2026-01-06","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-01-06T05:05:15.689Z","createdAt":"2026-01-06T05:05:15.689Z","versionId":"1f5c6c02-26ac-405f-9f06-a61082610b62","workflowId":"Z2v97fyXLSbr51pK","nodes":[{"parameters":{"httpMethod":"POST","path":"review-generator","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-512,-160],"id":"8fbab308-c624-47a7-95a5-499fcd117c7a","name":"Webhook","webhookId":"7afeb5de-86be-445a-80a4-0440b9b3e492"},{"parameters":{"respondWith":"json","responseBody":"={
  \"review\": \"{{ $json.output.review }}\"
} ","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[288,-160],"id":"ab28301f-dd52-431f-910e-bf488206d05f","name":"Respond to Webhook"},{"parameters":{"mode":"raw","jsonOutput":"={{ $json.body }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-288,-160],"id":"4f055467-33a5-4092-9a50-e01c2bb8fc3b","name":"Edit Fields"},{"parameters":{"promptType":"=define","text":"=Generate a customer review with the following details:

RATING: {{$json.rating}}/5 stars

TONE: {{$json.tone}}

CUSTOMER ANSWERS:
{{$json.answers.map((qa, i) => `Q: ${qa.question}\nA: ${qa.answer || 'Not provided'}`).join('\n\n')}}

Write a review that:
- Matches the {{$json.rating}}-star rating sentiment
- Uses a {{$json.tone}} tone
- Incorporates insights from the answers WITHOUT revealing PII
- Is maximum 250 characters
- Tells a natural before/during/after story

Return only the review text.","hasOutputParser":true,"options":{"systemMessage":"You are an expert at writing authentic, human-sounding customer reviews. Your task is to create a review based on the customer's rating, preferred tone, and their answers to questions about their experience.

CRITICAL RULES:
1. Write in FIRST PERSON (\"We\", \"I\", \"Our\")
2. Match the sentiment to the star rating (5 stars = very positive, 1 star = critical)
3. Use the specified tone (professional, enthusiastic, or casual)
4. MAXIMUM LENGTH: 250 characters (strict limit)
5. NEVER include PII: no names, company names, emails, phone numbers, or identifying details
6. NO profanity or inappropriate language
7. Sound like a real person, not AI
8. Tell a story: problem → solution → results
9. Be specific but concise
10. Return ONLY the review text - no quotes, no extra formatting

TONE GUIDELINES:
- Professional: Clear, articulate, business-focused
- Enthusiastic: Energetic, excited, highly positive
- Casual: Conversational, friendly, relaxed

RATING SENTIMENT:
- 5 stars: Exceptional, exceeded expectations, glowing praise
- 4 stars: Very good, positive with realistic nuance
- 3 stars: Satisfactory, balanced, met basic expectations
- 2 stars: Disappointing, constructive criticism
- 1 star: Poor experience, significant issues"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-64,-160],"id":"ac5640c3-3339-4d82-aebc-407134552722","name":"AI Agent"},{"parameters":{"jsonSchemaExample":"{
	\"review\": \"California\"
}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[128,32],"id":"baa5901e-bc88-47c3-88ca-d66811125f1b","name":"Structured Output Parser1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-112,32],"id":"9c9bb5e6-21f5-45ed-80a8-42e458dbf897","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"51hIFZmWsjzQuJAg","name":"Rashad's OpenAi Account"}}}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"authors":"Rashad  ","name":null,"description":null}}
