workflows/rashadbarnett_cloud_rashad_/Automagicly - AI Business Audit.json
{
  "id": "bXYlIk1EGsZ5bluy",
  "name": "Automagicly - AI Business Audit",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "audit-ai",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        208,
        432
      ],
      "webhookId": "automagicly-audit-ai",
      "credentials": {
        "httpHeaderAuth": {
          "id": "4p35NhehjSnmQLI0",
          "name": "AutoMagicly Chat API Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "condition-sessionId",
              "leftValue": "={{ $json.body.sessionId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "condition-message",
              "leftValue": "={{ $json.body.message }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "condition-message-length",
              "leftValue": "={{ $json.body.message?.length || 0 }}",
              "rightValue": 2000,
              "operator": {
                "type": "number",
                "operation": "smallerEqual",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "name": "Validate Input",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        432,
        432
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"error\": \"Invalid request. Please provide 'sessionId' and 'message' (max 2000 chars).\", \"timestamp\": $now.toISO() } }}",
        "options": {
          "responseCode": 400
        }
      },
      "name": "Return Validation Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        656,
        528
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ { \"sessionId\": $json.body.sessionId, \"chatInput\": $json.body.message, \"questionNumber\": $json.body.questionNumber || 1, \"state\": $json.body.state || 'DISCOVERY', \"conversationHistory\": $json.body.conversationHistory || [], \"currentConfidence\": $json.body.currentConfidence || { \"I\": 0, \"R\": 0, \"P\": 0, \"M\": 0, \"K\": 0 }, \"source\": $json.body.source || 'automagicly-website-audit', \"submittedAt\": $json.body.submittedAt || $now.toISO() } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        656,
        336
      ],
      "name": "Format Input"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are an AI Business Audit specialist for AutoMagicly, an automation consulting company.\n\n## Your Role\nConduct an adaptive business audit to:\n1. Understand the user's business and identify repetitive tasks\n2. Determine if AI/workflow automation can help\n3. Provide actionable recommendations\n\n## Fixed Discovery Questions (Q1-Q3)\nThese are the first 3 questions and MUST be asked in order:\n1. \"What industry do you work in?\"\n2. \"What does a typical workday look like for you right now?\"\n3. \"What is the biggest challenge or frustration you face in your business or role today?\"\n\n## Adaptive Questions (Q4-Q10)\nAfter discovery, ask clarifying questions about:\n- Process details and volumes (\"How many invoices per week?\")\n- Current tools and systems\n- Time spent on specific tasks\n- Failed automation attempts\n- Growth bottlenecks\n- Communication workflows\n\nAsk ONE question at a time. Maximum 10 questions total.\n\n## Confidence Scoring\nUpdate these scores (0-1) after each response:\n- I: Industry clarity (1.0 = explicit like \"residential plumber\")\n- R: Role/process clarity (based on described tasks and tools)\n- P: Pain point clarity (1.0 = 2+ specific, measurable pain points)\n- M: Mappability to automation (1.0 = clear automation opportunity)\n- K: Penalty for contradictions or unclear needs\n\nOverall confidence formula: C = 0.25*I + 0.25*R + 0.30*P + 0.20*M - K\n\n## When to Stop\nSet shouldStop=true when: C >= 0.75 AND P >= 0.7 AND M >= 0.5\n\n## Recommendation Categories\nMap to these solution types:\n- AI chatbots/intake forms\n- Automated lead follow-up\n- CRM/pipeline automation  \n- Scheduling automation\n- AI content generation\n- Automated reporting\n\n## Escalation Triggers\nSet shouldEscalate=true if:\n- Business needs custom software development (not workflow automation)\n- Compliance/security concerns need human review\n- User explicitly asks to speak with someone\n- After 10 questions, confidence remains low\n\n## Suggested Responses\nFor EVERY question you ask, provide 3-4 short suggested responses that:\n- Are relevant to the specific question being asked\n- Cover common answer patterns for that question type\n- Are concise (2-6 words each)\n- Help users respond quickly\n\nExamples:\n- For \"How many invoices per week?\": [\"Less than 10\", \"10-50\", \"50-100\", \"Over 100\"]\n- For \"What tools do you use?\": [\"Excel and email\", \"Industry software\", \"Multiple systems\", \"Paper-based\"]\n\n## OUTPUT FORMAT\nYou MUST return valid JSON in this exact format:\n{\n  \"nextQuestion\": \"Your next question here or null if stopping\",\n  \"suggestedResponses\": [\"Response 1\", \"Response 2\", \"Response 3\", \"Response 4\"],\n  \"updatedConfidence\": {\n    \"I\": 0.0-1.0,\n    \"R\": 0.0-1.0,\n    \"P\": 0.0-1.0,\n    \"M\": 0.0-1.0,\n    \"K\": 0.0-0.4,\n    \"overall\": calculated value\n  },\n  \"derivedPainPoints\": [\n    {\"category\": \"string\", \"description\": \"string\", \"severity\": \"low|medium|high\"}\n  ],\n  \"shouldStop\": false,\n  \"recommendations\": null or array if stopping,\n  \"shouldEscalate\": false,\n  \"escalationReason\": null or string,\n  \"nextSteps\": null or string if stopping\n}\n\nAnalyze the conversation history and current answer, then generate the appropriate response."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        880,
        336
      ],
      "name": "AI Audit Agent",
      "continueOnFail": true
    },
    {
      "parameters": {
        "options": {
          "maxTokens": 1500,
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        864,
        560
      ],
      "name": "OpenAI Model",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "credentials": {
        "openAiApi": {
          "id": "51hIFZmWsjzQuJAg",
          "name": "Rashad's OpenAi Account"
        }
      }
    },
    {
      "parameters": {
        "sessionKey": "={{ $('Format Input').item.json.sessionId }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1,
      "position": [
        1008,
        576
      ],
      "name": "Audit Memory"
    },
    {
      "parameters": {
        "jsCode": "// Parse AI Agent response and format for API\nconst aiOutput = $input.first().json.output;\nconst formatInput = $('Format Input').first().json;\n\nlet response;\ntry {\n  // Try to parse as JSON\n  if (typeof aiOutput === 'string') {\n    // Extract JSON from markdown code blocks if present\n    const jsonMatch = aiOutput.match(/```json\\n?([\\s\\S]*?)\\n?```/) || \n                      aiOutput.match(/```\\n?([\\s\\S]*?)\\n?```/);\n    if (jsonMatch) {\n      response = JSON.parse(jsonMatch[1]);\n    } else {\n      response = JSON.parse(aiOutput);\n    }\n  } else {\n    response = aiOutput;\n  }\n} catch (e) {\n  // If parsing fails, create default response\n  response = {\n    nextQuestion: \"Could you tell me more about your business?\",\n    suggestedResponses: [\"Small local business\", \"Growing company\", \"Enterprise\", \"Startup\"],\n    updatedConfidence: formatInput.currentConfidence,\n    derivedPainPoints: [],\n    shouldStop: false,\n    shouldEscalate: false\n  };\n}\n\n// Ensure all required fields exist\nresponse.updatedConfidence = response.updatedConfidence || formatInput.currentConfidence;\nresponse.derivedPainPoints = response.derivedPainPoints || [];\nresponse.shouldStop = response.shouldStop || false;\nresponse.shouldEscalate = response.shouldEscalate || false;\nresponse.suggestedResponses = response.suggestedResponses || [];\n\n// Calculate overall confidence if not provided\nif (!response.updatedConfidence.overall) {\n  const c = response.updatedConfidence;\n  response.updatedConfidence.overall = Math.max(0, Math.min(1,\n    0.25 * (c.I || 0) + 0.25 * (c.R || 0) + 0.30 * (c.P || 0) + 0.20 * (c.M || 0) - (c.K || 0)\n  ));\n}\n\nreturn { json: response };"
      },
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        336
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-success",
              "leftValue": "={{ $json.nextQuestion || $json.shouldStop || $json.shouldEscalate }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "name": "Check AI Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1456,
        336
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "name": "Return Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1680,
        240
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"nextQuestion\": \"I apologize, but I encountered an issue. Could you please repeat your answer?\", \"suggestedResponses\": [], \"updatedConfidence\": $('Format Input').item.json.currentConfidence, \"derivedPainPoints\": [], \"shouldStop\": false, \"shouldEscalate\": false, \"error\": true } }}",
        "options": {}
      },
      "name": "Return Fallback",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1680,
        432
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Format Input",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Validation Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Input": {
      "main": [
        [
          {
            "node": "AI Audit Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Audit Agent": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Audit Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Audit Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Audit Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Check AI Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check AI Success": {
      "main": [
        [
          {
            "node": "Return Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "saveDataSuccessExecution": "all",
    "executionTimeout": 3600,
    "timezone": "UTC"
  },
  "tags": [],
  "active": true
}