workflows/rashadbarnett_cloud_rashad_/MST - Proposal Work Flow.json
{
  "id": "uDBp1gmglRaFc7l7",
  "name": "MST - Proposal Work Flow",
  "nodes": [
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "mst-tax-transcriptions-prod-305712",
        "fileName": "=intake/{{ $json.id }}/{{ $json.name }}",
        "additionalFields": {}
      },
      "name": "Upload to S3",
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 1,
      "position": [
        -1712,
        520
      ],
      "credentials": {
        "aws": {
          "id": "vJrvHYreHROi5Lqd",
          "name": "AWS (IAM) account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1488,
        120
      ],
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2EHi0wR7Y6BLTOyu",
          "name": "Rashad Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 1,
              "unit": "minutes"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1bwZrSBLAz2jfwT0f7zmV7-nLuvyeqO9H",
          "mode": "list",
          "cachedResultName": "Tax Services - Intake",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1bwZrSBLAz2jfwT0f7zmV7-nLuvyeqO9H"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1712,
        120
      ],
      "name": "New Audio File",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2EHi0wR7Y6BLTOyu",
          "name": "Rashad Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "transcriptionJobName": "=Job-{{ $('Download file').item.json.id }}-{{ Date.now() }}",
        "mediaFileUri": "=s3://mst-tax-transcriptions-prod-305712/intake/{{ $('Download file').item.json.id }}/{{ $('Download file').item.json.name }}",
        "options": {}
      },
      "type": "n8n-nodes-base.awsTranscribe",
      "typeVersion": 1,
      "position": [
        -1488,
        520
      ],
      "name": "Create transcriptionJob",
      "credentials": {
        "aws": {
          "id": "vJrvHYreHROi5Lqd",
          "name": "AWS (IAM) account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "transcriptionJobName": "={{ $json.TranscriptionJobName }}",
        "simple": false
      },
      "type": "n8n-nodes-base.awsTranscribe",
      "typeVersion": 1,
      "position": [
        -1040,
        448
      ],
      "name": "Get transcriptionJob",
      "credentials": {
        "aws": {
          "id": "vJrvHYreHROi5Lqd",
          "name": "AWS (IAM) account"
        }
      }
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1264,
        520
      ],
      "name": "Wait",
      "webhookId": "dff39215-7918-4d94-aad4-d481f364d27e"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "29f88012-c35f-4ec3-bcbf-cf170e4fe3a9",
              "leftValue": "={{ $json.status }}",
              "rightValue": "COMPLETED",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -816,
        520
      ],
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "## Agent Prompt — Audio Transcript → Proposal Data Extractor (Google Sheet KB + Single Best Option)\n\n**Role**\nYou are an AI agent whose job is to analyze an **audio transcript of a client conversation** and extract **proposal-ready data** for an accounting/tax services engagement.\n\nYou will be provided:\n\n1. The **transcript** of the client conversation, and\n2. You have access to Googe Sheet with **service catalog** (rows) as a knowledge base.\n\nYour job is to (a) identify **the problems we are solving**, (b) determine which **services** from the service catalog are relevant to the client, and (c) choose **exactly one** best-fit option (Option 1, Option 2, or Option 3).\n\n---\n\n### Inputs\n\n**Transcript**\n\n* A plain-text transcript of the meeting.\n\n**Service Catalog (Google Sheet export)**\n\n* A list of rows with at minimum:\n\n  * `service_name`\n  * `default_option_1` (boolean)\n  * `default_option_2` (boolean)\n  * `default_option_3` (boolean)\n* The catalog represents your standard table rows.\n\n**Important:** If the service catalog is not provided in the current input, you must still output valid JSON and add an `open_questions` item requesting the catalog.\n\n---\n\n### Primary Focus: Problems We Are Solving\n\nDetermine and articulate the **business/accounting problems** the client is facing, based strictly on the transcript.\n\n* Do **not** invent problems.\n* Include issues explicitly stated or clearly implied.\n\n---\n\n### Service Relevance (MANDATORY)\n\nFor each `service_name` in the provided service catalog:\n\n* Decide whether the service is **relevant** to this client’s needs based on the transcript.\n* Set `relevant_to_client` to `true` or `false`.\n* Add a short `notes` justification when relevance is `true` **or** when uncertain.\n\n---\n\n### Single Best Option Selection (MANDATORY)\n\nYou must choose **exactly one** best-fit option for the client:\n\n* `best_option` must be one of: `option_1`, `option_2`, `option_3`\n* Exactly one of these must be `true` in `option_selection`.\n\n**Decision guidance** (use transcript evidence):\n\n* Option 1 (cleanup) if the main need is **one-time cleanup/catch-up** and ongoing support is not requested.\n* Option 2 (ongoing accounting) if they need **ongoing bookkeeping, reconciliations, monthly reporting/review**.\n* Option 3 (ongoing + tax/budgeting) if they need Option 2 **plus** tax planning/prep and/or budgeting/forecasting.\n\nDo not pick multiple options. If ambiguous, pick the most defensible option and add an `open_questions` item.\n\n---\n\n### Extraction Rules\n\n* Transcript is the **single source of truth** for client needs.\n* The service catalog is the **single source of truth** for service row names.\n* Do not assume pricing or scope beyond what is discussed.\n* Booleans must be true/false only.\n\n---\n\n### Output Format (STRICT — JSON ONLY)\n\nReturn **ONLY** a single, syntactically valid JSON object.\n\n**Hard requirements (do not violate):**\n\n* The response must start with `{` and end with `}`.\n* **No** markdown, **no** code fences, **no** extra text.\n* **No** extra top-level keys beyond the schema.\n* Use `null` for unknown string fields and `[]` for unknown list fields.\n* Arrays must always be arrays.\n\n---\n\n### Option Flag Rules (IMPORTANT)\n\n* For each row in `services_table`, set option flags according to the **selected best option**:\n\n  * If `best_option = option_1`, then each row must have `option_1=true`, `option_2=false`, `option_3=false`.\n  * If `best_option = option_2`, then each row must have `option_1=false`, `option_2=true`, `option_3=false`.\n  * If `best_option = option_3`, then each row must have `option_1=false`, `option_2=false`, `option_3=true`.\n\nThis enforces the rule: **Only one option is true overall.**\n\n---\n\n### Quality Bar\n\n* Output must be deterministic and table-ready.\n* Service names must match the service catalog exactly.\n* Relevance decisions must be justified in `notes` when needed.\n\n---\n\n### Final Rule\n\nIf the required inputs (transcript or service catalog) are missing or unclear, do not guess—add an item to `open_questions` and keep output valid JSON.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -984,
        16
      ],
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1040,
        240
      ],
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "51hIFZmWsjzQuJAg",
          "name": "Rashad's OpenAi Account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "={\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"type\": \"object\",\n  \"required\": [\n    \"problems_we_are_solving\",\n    \"best_option\",\n    \"option_selection\",\n    \"services_table\",\n    \"supporting_context\",\n    \"confidence\",\n    \"open_questions\"\n  ],\n  \"additionalProperties\": false,\n  \"properties\": {\n    \"problems_we_are_solving\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" }\n    },\n\n    \"best_option\": {\n      \"type\": \"string\",\n      \"enum\": [\"option_1\", \"option_2\", \"option_3\"]\n    },\n\n    \"option_selection\": {\n      \"type\": \"object\",\n      \"required\": [\"option_1\", \"option_2\", \"option_3\"],\n      \"additionalProperties\": false,\n      \"properties\": {\n        \"option_1\": { \"type\": \"boolean\" },\n        \"option_2\": { \"type\": \"boolean\" },\n        \"option_3\": { \"type\": \"boolean\" }\n      }\n    },\n\n    \"services_table\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"required\": [\n          \"service_name\",\n          \"relevant_to_client\",\n          \"option_1\",\n          \"option_2\",\n          \"option_3\",\n          \"notes\"\n        ],\n        \"additionalProperties\": false,\n        \"properties\": {\n          \"service_name\": { \"type\": \"string\" },\n          \"relevant_to_client\": { \"type\": \"boolean\" },\n          \"option_1\": { \"type\": \"boolean\" },\n          \"option_2\": { \"type\": \"boolean\" },\n          \"option_3\": { \"type\": \"boolean\" },\n          \"notes\": { \"type\": [\"string\", \"null\"] }\n        }\n      }\n    },\n\n    \"supporting_context\": {\n      \"type\": \"object\",\n      \"required\": [\"business_model\", \"current_tools\", \"pain_points\", \"risks_or_concerns\"],\n      \"additionalProperties\": false,\n      \"properties\": {\n        \"business_model\": { \"type\": [\"string\", \"null\"] },\n        \"current_tools\": {\n          \"type\": \"array\",\n          \"items\": { \"type\": \"string\" }\n        },\n        \"pain_points\": {\n          \"type\": \"array\",\n          \"items\": { \"type\": \"string\" }\n        },\n        \"risks_or_concerns\": {\n          \"type\": \"array\",\n          \"items\": { \"type\": \"string\" }\n        }\n      }\n    },\n\n    \"confidence\": {\n      \"type\": \"string\",\n      \"enum\": [\"high\", \"medium\", \"low\"]\n    },\n\n    \"open_questions\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" }\n    }\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -784,
        240
      ],
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"full_transcript\": \"{{ $json.text }}\"\n}\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -592,
        520
      ],
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "15_glvDkWOQMM_d4NkIotBMxzslxBN7x2tOqET4O_t30",
          "mode": "list",
          "cachedResultName": "MST Services",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15_glvDkWOQMM_d4NkIotBMxzslxBN7x2tOqET4O_t30/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15_glvDkWOQMM_d4NkIotBMxzslxBN7x2tOqET4O_t30/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -912,
        240
      ],
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "u4p2ZVWImQhY9Hnt",
          "name": "Rashad Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "rashad.barnett@gmail.com",
        "subject": "Test",
        "message": "=<div style=\"font-family: Arial, Helvetica, sans-serif; color:#111; line-height:1.4; max-width: 760px; margin: 0 auto;\">\n  <!-- Header -->\n  <div style=\"padding: 18px 18px 10px 18px; border:1px solid #e5e7eb; border-radius: 10px;\">\n    <div style=\"font-size: 22px; font-weight: 700; margin: 0 0 6px 0;\">\n      {{ $json.client_name || \"Proposal\" }}\n    </div>\n    <div style=\"font-size: 13px; color:#4b5563;\">\n      Prepared for: <b>{{ $json.client_name || \"Client\" }}</b>\n      &nbsp;&middot;&nbsp;\n      Date: <b>{{ $json.proposal_date || new Date().toLocaleDateString() }}</b>\n    </div>\n  </div>\n\n  <!-- Problems -->\n  <div style=\"margin-top: 14px; padding: 18px; border:1px solid #e5e7eb; border-radius: 10px;\">\n    <div style=\"font-size: 16px; font-weight: 700; margin-bottom: 10px;\">\n      Problems We Are Solving\n    </div>\n    <ul style=\"margin: 0; padding-left: 18px;\">\n      {{ $json.output.problems_html }}\n    </ul>\n  </div>\n\n  <!-- Pain Points -->\n  <div style=\"margin-top: 14px; padding: 18px; border:1px solid #e5e7eb; border-radius: 10px;\">\n    <div style=\"font-size: 15px; font-weight: 700; margin-bottom: 8px;\">\n      Key Pain Points\n    </div>\n    <ul style=\"margin: 0; padding-left: 18px;\">\n      {{ $json.output.pain_points_html || \"\" }}\n    </ul>\n  </div>\n\n  <!-- Risks & Concerns -->\n  <div style=\"margin-top: 14px; padding: 18px; border:1px solid #e5e7eb; border-radius: 10px;\">\n    <div style=\"font-size: 15px; font-weight: 700; margin-bottom: 8px;\">\n      Risks & Concerns\n    </div>\n    <ul style=\"margin: 0; padding-left: 18px;\">\n      {{ $json.output.risks_or_concerns_html || \"\" }}\n    </ul>\n  </div>\n\n  <!-- Options Table -->\n  <div style=\"margin-top: 14px; padding: 18px; border:1px solid #e5e7eb; border-radius: 10px;\">\n    <div style=\"font-size: 16px; font-weight: 700; margin-bottom: 10px;\">\n      Service Options\n    </div>\n\n    <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\"\n           style=\"width:100%; border-collapse: collapse; table-layout: fixed; font-size: 13px;\">\n      <thead>\n        <tr>\n          <th style=\"text-align:left; padding:10px 8px; border:1px solid #e5e7eb; background:#f9fafb; width: 30%;\">Service</th>\n          <th style=\"text-align:center; padding:10px 8px; border:1px solid #e5e7eb; background:#f9fafb; width: 14%;\">Option 1</th>\n          <th style=\"text-align:center; padding:10px 8px; border:1px solid #e5e7eb; background:#f9fafb; width: 14%;\">Option 2</th>\n          <th style=\"text-align:center; padding:10px 8px; border:1px solid #e5e7eb; background:#f9fafb; width: 14%;\">Option 3</th>\n          <th style=\"text-align:left; padding:10px 8px; border:1px solid #e5e7eb; background:#f9fafb; width: 28%;\">Notes</th>\n        </tr>\n      </thead>\n\n      <tbody>\n        {{ $json.output.services_table_rows_html }}\n      </tbody>\n\n      <tfoot>\n        <tr>\n          <td style=\"padding:10px 8px; border:1px solid #e5e7eb; font-weight:700;\">Monthly Investment:</td>\n          <td style=\"padding:10px 8px; border:1px solid #e5e7eb; text-align:center;\">{{ $json.service_options?.option_1?.monthly_investment || \"$TBD\" }}</td>\n          <td style=\"padding:10px 8px; border:1px solid #e5e7eb; text-align:center;\">{{ $json.service_options?.option_2?.monthly_investment || \"$TBD\" }}</td>\n          <td style=\"padding:10px 8px; border:1px solid #e5e7eb; text-align:center;\">{{ $json.service_options?.option_3?.monthly_investment || \"$TBD\" }}</td>\n          <td style=\"padding:10px 8px; border:1px solid #e5e7eb; color:#6b7280;\">Final pricing confirmed after review</td>\n        </tr>\n      </tfoot>\n    </table>\n\n    <div style=\"margin-top: 10px; font-size: 13px;\">\n      <b>Recommended option:</b> {{ $json.output.best_option.replaceAll(\"_\",\" \") }}\n    </div>\n\n    <!-- Confidence -->\n    <div style=\"margin-top: 8px; font-size: 12px; color:#374151;\">\n      <b>Confidence level:</b>\n      <span style=\"text-transform: capitalize;\">{{ $json.output.confidence || \"medium\" }}</span>\n    </div>\n\n    <div style=\"margin-top: 6px; font-size: 12px; color:#6b7280;\">\n      Note: Assumes responses to transaction questions are handled within 24 hours. Additional out-of-scope items may require a separate agreement.\n    </div>\n  </div>\n\n  <!-- Footer -->\n  <div style=\"margin-top: 14px; padding: 16px 18px; border:1px solid #e5e7eb; border-radius: 10px;\">\n    <div style=\"font-size: 13px; font-weight:700; margin-bottom: 6px;\">\n      Run Your Business with MST Accounting and Bookkeeping Services PLLC\n    </div>\n    <div style=\"font-size: 12px; color:#6b7280;\">\n      Reply to this email with “Approved” or any requested changes.\n    </div>\n  </div>\n</div>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -352,
        120
      ],
      "name": "Send a message",
      "webhookId": "501d1a5e-d4f1-4b25-942c-4c754afbe586",
      "credentials": {
        "gmailOAuth2": {
          "id": "BTKh5C4ujrbOxvPI",
          "name": "Rashad.barnett@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node (JavaScript)\n\nfunction escapeHtml(str) {\n  return String(str ?? \"\")\n    .replaceAll(\"&\", \"&amp;\")\n    .replaceAll(\"<\", \"&lt;\")\n    .replaceAll(\">\", \"&gt;\")\n    .replaceAll('\"', \"&quot;\")\n    .replaceAll(\"'\", \"&#039;\");\n}\n\nfunction pickPayload(obj) {\n  // Try common wrapper keys first, else assume obj is the payload\n  return obj?.output ?? obj?.data ?? obj?.result ?? obj?.response ?? obj;\n}\n\nfunction toHtmlList(arr) {\n  const safe = Array.isArray(arr) ? arr : [];\n  if (safe.length === 0) return \"\";\n  return safe.map(x => `<li style=\"margin: 6px 0;\">${escapeHtml(x)}</li>`).join(\"\");\n}\n\nconst items = $input.all();\n\nfor (const item of items) {\n  const raw = item.json;\n  const data = pickPayload(raw);\n\n  // Problems\n  data.problems_html = toHtmlList(data.problems_we_are_solving);\n\n  // Pain points + risks/concerns (supporting_context lives at top-level in your schema)\n  data.pain_points_html = toHtmlList(data.supporting_context?.pain_points);\n  data.risks_or_concerns_html = toHtmlList(data.supporting_context?.risks_or_concerns);\n\n  // Services rows (Notes is last column)\n  const services = Array.isArray(data.services_table) ? data.services_table : [];\n\n  data.services_table_rows_html = services.map(s => {\n    const check = (v) => (v ? \"x\" : \"&nbsp;\");\n    const rowStyle = s.relevant_to_client ? \"\" : \"color:#9ca3af;\";\n    const noteText = s.notes ? escapeHtml(s.notes) : \"&nbsp;\";\n\n    return `\n      <tr>\n        <td style=\"padding:9px 8px; border:1px solid #e5e7eb; ${rowStyle}\">\n          ${escapeHtml(s.service_name || \"\")}\n        </td>\n        <td style=\"padding:9px 8px; border:1px solid #e5e7eb; text-align:center;\">${check(!!s.option_1)}</td>\n        <td style=\"padding:9px 8px; border:1px solid #e5e7eb; text-align:center;\">${check(!!s.option_2)}</td>\n        <td style=\"padding:9px 8px; border:1px solid #e5e7eb; text-align:center;\">${check(!!s.option_3)}</td>\n        <td style=\"padding:9px 8px; border:1px solid #e5e7eb; ${rowStyle}\">\n          ${noteText}\n        </td>\n      </tr>\n    `;\n  }).join(\"\");\n\n  // Put computed fields back on the original item (keep wrapper if it existed)\n  if (raw?.output) raw.output = data;\n  else if (raw?.data) raw.data = data;\n  else if (raw?.result) raw.result = data;\n  else if (raw?.response) raw.response = data;\n  else item.json = data;\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -576,
        120
      ],
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('New Audio File').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "=1qrjUTvnRQS6u_fk8I4PnYya6MCQsxDQQ",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -128,
        120
      ],
      "name": "Move file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2EHi0wR7Y6BLTOyu",
          "name": "Rashad Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -1264,
        120
      ],
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "51hIFZmWsjzQuJAg",
          "name": "Rashad's OpenAi Account"
        }
      }
    }
  ],
  "connections": {
    "New Audio File": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to S3": {
      "main": [
        [
          {
            "node": "Create transcriptionJob",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create transcriptionJob": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get transcriptionJob": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get transcriptionJob",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Move file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "tags": [],
  "active": true
}